<div class="ui-block">
    <div class="ui-block-bar">
        <div style="text-align: center;">
            <strong>BUSINESS ADDRESSES</strong>
        </div>
    </div>
    <div class="ui-block-body" >
        <div style="display: table-row; ">
            <style>
            .business_item { margin-top:2.5em; width:30%; height:200px; overflow:hidden; }
            </style>
            <script>
            function toggleCheck(e, pThis)
            {
                console.log('+toggleCheck');
                var $This = $(pThis);
                var $Root = $This.parents('.business_item');
                if ($This.is(':checked')) {
                    $Root.css({'border': '2px solid #36F'});
                } else {
                    $Root.css({'border': '1px solid #ddd'});
                }
            }
            </script>
            {% for address in addresses %}
            {% include './business_address_item_1.html' %}
            {% endfor %}
        </div>
    </div>
</div>
