{% load staticfiles %}
{% include '../locus/address_picker_1.html' %}

<div class="ui-content" >
	<style type="text/css" >
		#business_add_box { display: none; }
	</style>
	<script type="text/javascript" >
		function toggleBusinessBox(e, This) {
			console.log("+showBusinessBox");
			$("#business_add_box").toggle();
			$("#business_add_box").find('form').trigger("reset");
		}

		function showAddressBox(e, This) {
			console.log("+showAddressBox");
			e.stopPropagation();
			$AppOverlay.show("#locus_addr_picker");
			BeforeAddrSaveEvent.add(BusinessAddressCreateHandler.before);
			AfterAddrSaveEvent.add(BusinessAddressCreateHandler.after);
		}

		function hideAddressBox()
		{
			console.log('+hideAddressBox');
			BeforeAddrSaveEvent.del(BusinessAddressCreateHandler.before);
			AfterAddrSaveEvent.del(BusinessAddressCreateHandler.after);
			$AppOverlay.close();
		}

		function deleteBusiness(e, This)
		{
			var $item = $(This).parents('.business_item');
			var b_id = $item.attr('data-id');
			var data = $AppData.csrf();
			data["B_id"] = b_id;
			$AppRequest.post('/business/delete/', data, function(status, resp) {
				if (status == true) {
					$item.remove();
				} else {
					var errors = '';
					for (var err in resp.data) {
						errors += resp.data[err] + '<br />';
					}
					$AppNoti.info({title:e.message, text:errors});
				}
			});
		}

		function showAddressSelectBox(e, This)
		{
			console.log("+showAddressSelectBox");
			e.stopPropagation();

			var $item = $(This).parents('.business_item');
			var b_id = $item.attr('data-id');
			var data = $AppData.csrf();
			data["B_id"] = b_id;
			data["pid"] = 2;
			$AppModal.show();
			$AppRequest.get('/business/address/', data, function(status, resp) {
				if (true == status) {
					$AppModal.update(resp);
				} else {
					console.log('data : '+JSON.stringify(resp.data));
					$AppModal.update(JSON.stringify(resp.data));
				}
			});
		}

		var BusinessAddressCreateHandler = {
			before: function (e) {
				console.log("+OnAdSaveReq__");
				return true;
			},
			after: function (e) {
				console.log("+OnAddrSaveRes__");
				if (e.status) {
					var val = e.resp;
					$('#business_addr_cont').prepend(val);
					hideAddressBox();
					$AppNoti.info({title:"Saved", text:e.resp.message});
				} else {
					var errors = '';
					for (var err in e.resp.data) {
						errors += e.resp.data[err] + '<br />';
						}
					$AppNoti.info({title:e.resp.message, text:errors});
				}
				return true;
			}
		}

		function editBusinessFormFields(e, pThis)
		{
			console.log('+editBusinessFormFields');
			var $block = $(pThis).parents('.ui-block');
			var $form = $block.find('.ajax-form');
			$form.find('.info_view, .info_edit').toggle();
			var $controls = $block.find('.form_controls');
			$controls.toggle();
			$AppFormUtils.resetVal($form);
		}

		var BusinessItemUpdateFormHandler = {
			before: function(e) {
				console.log("+beforeSaveReq");
				return true;
			},
			after: function(e) {
				console.log("+afterSaveRes");
				if (e.status) {
					var vals = e.resp.data;
					var $form = e.$form;
					for (var key in vals) {
						var val = vals[key];
						console.log(key+' : '+val);
						$AppFormUtils.setValByName($form, key, val);
					}
					$form.find('input[type=button]').click();
					$AppNoti.info({title:'Done!!', text:e.resp.message});
				} else {
					var errors = '';
					for (var err in e.resp.data) {
						errors += e.resp.data[err] + '<br />';
					}
					$AppNoti.info({title:e.resp.message, text:errors});
				}
			},
		};

		var BusinessItemCreateFormHandler = {
			before: function(e) {
				return true;
			},
			after: function(e) {
				console.log("+OnBusinessSaveRes");
				if (e.status) {
					var val = e.resp;
					$('#business_items_cont').prepend(val);
					toggleBusinessBox();
					$AppNoti.info({title:"Saved", text:"Business saved Successfully!!"});
				} else {
					var errors = '';
					for (var err in e.resp.data) {
						errors += e.resp.data[err] + '<br />';
					}
					$AppNoti.info({title:e.resp.message, text:errors});
				}
				return true;
			}
		};

		$(function() {
			$('#business_create_form').data('data-handler', BusinessItemCreateFormHandler);
			$('.business_item form').data('data-handler', BusinessItemUpdateFormHandler);
		});

	</script>

	<div class="ui-block">
		<div class="ui-block-head">
			<div>
				<strong>BUSINESS</strong>
			</div>
		</div>
		<div class="ui-block-body" >
			<a class="ui-btn-a" onclick="toggleBusinessBox();" >ADD BUSINESS</a>
			<div id="business_add_box" >
				<form method="POST" action="/business/create/" class="ajax-form" id="business_create_form" >
					<table class="ui-form-table" >
						{% csrf_token %}
						<input type="hidden" name="B_id" class="ui-input" value="{{business.id}}" />
						<tr><td>CATEGORY*</td><td>
						<select class="ui-input" name="B_category" >
							{% for cat in categories %}
							<option value="{{cat.id}}">{{cat.name}}</option>
							{% endfor %}
						</select>
						</td></tr>
						<tr><td>NAME*</td><td>
						<input type="text" name="B_name" class="ui-input" value="{{business.name}}" />
						</td></tr>
						<tr><td>ABOUT</td><td>
						<input type="text" name="B_about" class="ui-input" value="{{business.about}}" />
						</td></tr>
						<tr><td>WEBSITE</td><td>
						<input type="text" name="B_website" class="ui-input" value="{{business.website}}" />
						</td></tr>
						<tr><td></td><td><input type="submit" value="Save" class="ui-btn ui-btn-input" /></td></tr>
					</table>
				</form>
			</div>
		</div>
	</div>

	<div class="ui-content" id="business_items_cont">
		{% for b in business %}
			{% include './business_item_1.html' %}
		{% endfor %}
	</div>
</div>
