<div class="ui-block">
    <div class="ui-block-bar">
        <div style="text-align: center;">
            <strong>BUSINESS ADDRESSES</strong>
        </div>
    </div>
    <div class="ui-block-body" >
        <style>
            .business_addr_title:hover { cursor: pointer; }
            .business_addr_item { overflow:hidden; height: 100%; }
            .business_addr_item_selected { border: 1px solid #36F; }
            .business_addr_item_w { display: inline-block; width:30%; height:250px; vertical-align:top; overflow:hidden; }
            .business_addr_item_w_expanded { height:100%; }
        </style>
        <script>
            function toggleSelect(e, This)
            {
                console.log('+toggleCheck');
                $This = $(This);
                var $Check = $This.find('input[type="checkbox"]');
                var $Root = $This.parents('.business_addr_item');
                if (e.target != $Check.get(0)) {
                    $Check.prop('checked', function() { return !$Check.is(':checked'); });
                }
                $Root.toggleClass('business_addr_item_selected');
            }

            function toggleBoxSize(e, This)
            {
                console.log('+toggleBoxSize');
                e.preventDefault();
                e.stopPropagation();
                $wrapper = $(This).parents('.business_addr_item_w');
                $wrapper.toggleClass('business_addr_item_w_expanded');
            }
            function OnAddrLinkReq__(e)
            {
                console.log("+OnAddrLinkReq__");
                return true;
            }
            function OnAddrLinkRes__(e)
            {
                console.log("+OnAddrLinkRes__");
                return true;
            }
        </script>
        <form action="/business/address/link/" method="POST" class="ajax-form" data-delegates='{"before":"OnAddrLinkReq__", "after":"OnAddrLinkRes__"}' >
            {% csrf_token %}
            {% for address in addresses %}
                <div  class="business_addr_item_w" >
                {% include './business_address_item_1.html' %}
                </div>
            {% endfor %}
            <div style="width: 50%; margin:10px auto;">
                <input type="button" value="Cancel" class="ui-btn" />
                <input type="submit" value="Save" class="ui-btn" />
            </div>
        </form>
    </div>
</div>
