{% extends base_template %}

{% block appmenu %}
{% include './admin_left_nav.html' %}
{% endblock %}

{% block pagecontent %}
<style>
	.msg-box { margin-top: 0.8em; padding: 0em 0.8em; border:1px solid #ddd; }
	.msg-head { display:table;}
	.msg-head > div { display: table-cell; vertical-align: middle; }
	.msg-controls { width: 100%; text-align: right; }
	.msg-body { padding: 0.8em 0em; }
	.msg-foot {}
</style>
<div class="ui-content" >
	<div class="ui-bar-tbb">
		<h3>Messages</h3>
	</div>
	<div class="ui-body">
		<table class="ui-info-table">
			{% for msg in messages %}
				<div class="msg-box">
					<div class="msg-head" > <div><strong>{{msg.title}}</strong></div> <div class="msg-controls"><a href="javascript:void(0)">Delete</a></div></div>
					<div class="ui-line-s"></div>
					<div class="msg-body" >{{msg.text}}</div>
					<div class="ui-line-s"></div>
					<div class="msg-foot">From: <strong>{{msg.name}}</strong> Contact: <strong>{{msg.email}} {{msg.phone}}</strong> </div>
				</div>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
