{% extends base_template %}

{% block appmenu %}
{% include './admin_left_nav.html' %}
{% endblock %}

{% block pagecontent %}
<div class="ui-content" >
	<div class="ui-bar-tbb">
		<h3>Add Category</h3>
	</div>
	<div class="ui-body">
		<div class="ui-bar-tbb">
		{% for link in nav_links %}
			&gt;&gt; <a href="{{link.href}}"> {{link.text}} </a>
		{% endfor %}
		</div>
		<div class="ui-body">
		{% if categories %}
			{% with nav_links|last as last_url %}
			{% for cat in categories %}
			<a href="{{last_url.href}}{{cat.name}}/" >
				<button class="ui-btn">{{cat.name}} <b>+</b></button>
			</a>
			{% endfor %}
			{% endwith %}
		{% elif category %}
			Name : <strong>{{category.name}}</strong>
			<br />
			Description : <strong>{{category.desc}}</strong>
		{% endif %}
		</div>
		<div>
			<form method="POST" action="/myadmin/category-fetch/">
				<table class="form-table">
					<tr><td>Category Name :</td>
						<td><input type="text" name="cat_name" class="ui-input" /></td>
					</tr>
					<tr><td>Category Desc :</td>
						<td><input type="text" name="cat_desc" class="ui-input" /></td>
					</tr>
					<tr><td>Category Parent : </td>
						<td><input type="text" name="cat_parent" class="ui-input" /></td>
					</tr>
					<tr><td></td>
						<td><input type="submit" name="submit" class="ui-btn submit" value="Create" /></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
