{% extends base_template %}

{% load staticfiles %}

{% block appmenu %}
{% include 'mobile/left_nav.html' %}
{% endblock %}

{% block pagecontent %}
<style type="text/css">
	.P-item { width:250px; height:350px; background: #f9f9f9; border: 1px solid #ddd; display: inline-block; vertical-align: top; margin: 0.7em 0em 0em 0.5em; }
	.P-image { width: 100%; height: 65%; }
	.P-image img { display:block; margin:0 auto; max-width:98%; max-height:98%; min-width:98%; min-height:98%; }
	.P-details { width:100%; min-height: 35%; padding: 0.3em; /*background: #e9e9e9;*/ }
	.P-name { width: 100%; /*background: #888;*/  }
	.P-discount {}
	.P-price {}
</style>
{% for offer in offers_list  %}
	<div class="P-item" >
		<a href="{{offer.url}}" >
		<div class="P-image">
			<img src="{{offer.image.url}}" alt="{{offer.name}} | {{offer.discount}}% Off" />
		</div>
		</a>
		<div class="P-details" >
			<div class="P-name" >
				<a href="{{offer.url}}" ><strong title="{{offer.name}}" >{{offer.name | truncatechars:70}}</strong></a>
			</div>
			<div class="ui-line-s" ></div>
			<div class="P-discount"><h4>{{offer.discount}}% Off</h4></div>
			<div class="P-price">
				<span>&#8377; {{offer.discount_price}}</span> <span>&#8377; &nbsp;<strike>{{offer.price}}</strike></span>
			</div>
			<div class="ui-line-s" ></div>
			<div>
				<b>Validity: </b> {{offer.start_date | date:"d M Y D"}}<br />
				<b>To : </b> {{offer.expire_date | date:"d M Y D"}}
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}
