{% extends base_template %}
{% load staticfiles %}

{% block appmenu %}
{% include 'mobile/left_nav.html' %}
{% endblock %}

{% block pagecontent %}
<div data-role="page" id="indexpage" data-dom-cache="false" >
<style>
	#loc-results { position: absolute; width: 35%; margin-top: 3px; border: 1px solid #aaa; z-index: 4; display: none; background: #fff; }
	#loc-results ul { list-style: none; }
	#loc-results li a { display: block; padding: 0.5em 1.5em; }
	.search-item { padding: 0.5em 1.0em; border-bottom: 1px solid #ddd; }
	.search-item-a { background: #38f; color: #fff; }
	.search-item > div { display:inline-block; vertical-align:middle; margin-right: 0.4em; }
	.search-item img { width: 24px; height: 24px; }
	.ui-autocomplete { max-height: 200px; overflow-y: auto; overflow-x: hidden;	}
</style>


<script type="text/javascript">
$(function(){
	var dateFmt = "yy/mm/dd",
		from = $("#P_start_date").datepicker({
				minDate: new Date(),
				dateFormat: dateFmt,
				//defaultDate: "+1w",
				changeMonth: true,
				numberOfMonths: 1
			}).on("change", function(){
				to.datepicker("option", "minDate", getDate(this));
			}),
		to = $("#P_expire_date").datepicker({
			dateFormat: dateFmt,
			//defaultDate: "+1w",
			changeMonth: true,
			numberOfMonths: 1
		})
		.on( "change", function(){
			from.datepicker("option", "maxDate", getDate(this));
		});

	function getDate(element){
		var date;
		try {
			date = $.datepicker.parseDate(dateFmt, element.value);
		} catch(error) {
			date = null;
		}
		return date;
	}

	$("#P_area").suggestions({
		minLength: 2,
		_source: function(key, resp) {
			postRequest('/search/location/', {'key': key}, function(status, result){
				if (true == status) {
					resp(result.data);
				} else {
					console.log('error : '+JSON.stringify(result.error));
				}
			});
			//resp(JSON.parse("[{'name': 'Amit Dhiman'}]"));
		},
		_itemCreate: function(item) {
			var uiItem = '<li>'
			+ '<div class="search-item">'
			+ '<div><img src="{{loc_image}}" /></div>'
			+ '<div>'
			+ item.name + '<br />' + item.city + '('+item.pin+')'
			+ '</div></div>'
			+ '</li>';
			return uiItem;
		},
		_itemSelect: function(input, item) {
			input.val(item.name+' ('+item.pin+')');
		}
	});

	$('.ajax-file-upload').fileupload({maxFiles:2});
});
</script>

		<div class="ui-bar-tbb">
			<h3>Post New Offer</h3>
		</div>
		<div class="ui-body" >
			<div class="ui-errors">{{form_errors.request}}</div>
			<form action="/offer/create-new/auth/" method="POST" enctype="multipart/form-data" class="ajax-form">
				{% csrf_token %}
				<table class="form_table">
					<tr><td>Product Image : </td></tr>
					<tr><td><input type="file" name="P_image" class="ui-input ajax-file-upload" multiple />
					</tr>
					<tr><td>Product Name : </td></tr>
					<tr><td><input type="text" name="P_name" class="ui-input" value="{{form_values.P_name}}" />
					</tr>
					<tr><td>Product Price : </td></tr>
					<tr><td><input type="text" name="P_price" id="P_price" class="ui-input" value="{{form_values.P_price}}" />
					</tr>
					<tr><td>Discount (%) : </td></tr>
					<tr><td><input type="text" name="P_discount" id="P_discount" class="ui-input" value="{{form_values.P_discount}}" />
					</tr>
					<tr><td>Discount price : </td></tr>
					<tr><td><input type="text" name="P_discount_price" class="ui-input" value="{{form_values.P_discount_price}}" />
					</tr>
					<tr><td>Area : </td></tr>
					<tr><td><input type="text" name="P_area" id="P_area" class="ui-input" value="{{form_values.P_area}}" autocomplete="off" />
					</tr>
					<tr><td>Start Date : </td></tr>
					<tr><td><input type="text" name="P_start_date" id="P_start_date" class="ui-input" value="{{form_values.P_start_date}}" autocomplete="off" readonly />
					</tr>
					<tr><td>Expire Date : </td></tr>
					<tr><td><input type="text" name="P_expire_date" id="P_expire_date" class="ui-input" value="{{form_values.P_expire_date}}" autocomplete="off" readonly />
					</tr>
					<tr><td><input type="submit" name="submit" value="Publish" class="ui-btn ui-btn-long" /></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
{% endblock %}
