*.pyc
accounts/*.pyc
accounts/__pycache__/*.pyc
accounts/migrations/*.pyc
accounts/migrations/__pycache__/*.pyc

home/*.pyc
home/__pycache__/*.pyc
home/migrations/*.pyc
home/migrations/__pycache__/*.pyc

offers/*.pyc
offers/__pycache__/*pyc
offers/migrations/*.pyc
offers/migrations/__pycache__/*.pyc

MyOffers/*.pyc
MyOffers/__pycache__/*.pyc

#static/images/offers/
