Django==2.0
django-background-tasks==1.1.12
django-compat==1.0.15
gunicorn==19.7.1
insultgenerator==0.3
loremipsum==1.0.5
PyJWT==1.5.3
pytz==2017.3
six==1.11.0
ua-parser==0.7.3
user-agents==1.1.0
whitenoise==3.3.1
