
<div class="left-nav-div" >
	<div class="ui-bar-tbb" >Shortcuts</div>
	<ul class="ui-vlist">
		<li><a href="/" >New Products</a></li>
		<li><a href="/offer/online/" >Online Stores</a></li>
		<li><a href="/offer/nearby/" >Nearby Stores</a></li>
		<li><a href="/offer/bulk/" >Bulk Deals</a></li>
		<li><a href="/offer/food/" >Food deals</a></li>
	</ul>
	<div class="clear" ></div>
</div>

<div class="left-nav-div" style="margin-top: 1.2em;" >
	<div class="ui-bar-tbb" >Trending</div>
	<ul class="ui-vlist" >
		<li><a href="/offer/online/" >Online Stores</a></li>
		<li><a href="/offer/nearby/" >Nearby Stores</a></li>
		<li><a href="/offer/bulk/" >Bulk Deals</a></li>
		<li><a href="/offer/food/" >Food deals</a></li>
	</ul>
	<div class="clear" ></div>
</div>
