{% load static %}
<style>
	.msg_block { width: 100%; display: table; font-size: 1.2em; }
	.msg_item { height: 30px; border-top: 1px solid #ccc;  background: #f9f9f9; cursor: pointer; }
	.msg_item:last-child { border-bottom: 1px solid #ccc; }
	.msg_item > div { height: inherit; vertical-align: middle; }
	.msg_checkbox { width: 1%; display: table-cell; }
	.msg_name { display: table-cell; width: 7%;  }
	.msg_content {  display: table-cell; width: 20%; }
	.msg_time { display: table-cell; width: 5%; }
	.msg_menu > div { display: inline-block; cursor: pointer; }
</style>

<div class="ui-content" >
	<div class="ui-block">
		<div class="ui-block-head" style="padding-left: 0px;" >
			<div class="msg_menu">
				<div>
					<div class="app_checkbox ui-center" >
						<input type="checkbox" />
						<div></div>
					</div>
				</div>
				<div><img src="{% static 'images/svg/delete_24_1.svg' %}" style="height: 24px; width: 24px;" /></div>
				<div><img src="{% static 'images/svg/markunread_24_1.svg' %}" style="height: 24px; width: 24px;" /></div>
			</div>
			<strong>Messages</strong>
		</div>
  		<div class="ui-block-body" style="padding-left: 0; padding-right: 0;">
			<div class="msg_block" >
				<ul>
					{% for message in messages %}
					<li class="msg_item" >
						<div class="msg_checkbox" >
							<div class="app_checkbox ui-center" >
								<input type="checkbox" />
								<div></div>
							</div>
						</div>
						<div class="msg_name" >{{message.name}}</div>
						<div class="msg_content" ><b>{{message.title}}</b> - {{message.text}}</div>
						<div class="msg_time" title="{{message.created_at}}" >{{message.created_at | date:"M d, Y"}}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
  		</div>
	</div>
</div>