{% load tz %}
{% load staticfiles %}
<script>
function EnableEdit(e,pThis)
{
	console.log('+EnableEdit');
	if ($('#base-info').find('.ui-input').attr('readonly')) {
		$('#base-info').find('.ui-input').removeAttr('readonly');
		$('#base-info').find('#base-controls').removeClass('ui-hide');
	} else {
		$('#base-info').find('.ui-input').attr('readonly', 'readonly');
		$('#base-info').find('#base-controls').attr('class','ui-hide');
	}
}
function DisableEdit(e,pThis)
{
	console.log('+DisableEdit');
	$('#base-info').find('.ui-input').attr('readonly', 'readonly');
	$('#base-info').find('#base-controls').attr('class','ui-hide');
}

function passChangePopup(e, pThis)
{
	console.log("+passChangePopup");
}
</script>
<div class="ui-content" >
	<div class="ui-bar-tbb">
		<h3>Account details </h3>
	</div>
	<div class="ui-section ui-border ui-corner">
		<div class="ui-section-title">
			<div class="ui-section-title-text"><h3>Basic Info</h3></div>
			<div class="ui-section-title-icons">
				<a onclick="EnableEdit(event, this)" href="javascript:void(0)" >
				<img src="{% static 'images/icons-svg/edit_fill.svg' %}" style="width:24px; height:24px;" />
				</a>
			</div>
		</div>
		<div class="ui-section-body">
			<table class="info-table" id="base-info" >
				<!--<tr><td>PHOTO</td><td><img src="{{user.image.url}}" style="width:80px; height:80px;" /></td></tr>-->
				<tr><td>NAME</td> <td><input readonly type="text" value="{{user.name}}" placeholder="Name" class="ui-input" /></td></tr>
				<tr><td>EMAIL</td> <td><input readonly type="text" value="{{user.email}}" placeholder="Email" class="ui-input" /></td></tr>
				<tr><td>PHONE</td> <td><input readonly type="text" value="{{user.phone}}" placeholder="Phone" class="ui-input" /></td></tr>
				<tr class="ui-hide" id="base-controls" ><td>&nbsp;</th> <td>
					<input type="submit" onclick="DisableEdit(event, this)" class="ui-btn" value="Cancel" />
					<input type="submit" class="ui-btn" value="Save" />
					</td>
				</tr>
				<tr><td>PASSWORD</td> <td><b>********</b><a href="javascript:void(0)" onclick="passChangePopup(event, this)">Change</a></td></tr>
				<tr><td>LEVEL</td> <td>{{user.level}}</td></tr>
				<tr><td>STATUS</th> <td>{{user.status}}</td></tr>
				<tr><td>REG. TIME (IST)</td> <td>{{user.created_at | localtime}}</td></tr>
			</table>
		</div>
	</div>
	<div class="ui-section ui-border ui-corner">
		<div class="ui-section-title">
			<div class="ui-section-title-text"><h3>Advance Info</h3></div>
			<div class="ui-section-title-icons">
			</div>
		</div>
		<div class="ui-section-body">
			<table class="info-table" id="advance-info" >
				<!--<tr><td>PHOTO</td><td><img src="{{user.image.url}}" style="width:80px; height:80px;" /></td></tr>-->
				<tr><td>ADDRESS</td> <td><input readonly type="text" value="{{user.name}}" placeholder="Name" class="ui-input" /></td></tr>
			</table>
		</div>
	</div>
</div>
