{% extends './base.html' %}
{% load static %}

{% block pagemenu %}
{% include 'desktop/left_nav.html' %}
{% endblock %}

{% block content %}
<div class="ui-page" >
	<div class="ui-bar-tbb">
		<h3>Sign In</h3>
	</div>
	<div class="ui-body" >
		<div class="ui-errors">
			{% for error in form_errors %}
				{{error}}<br />
			{% endfor %}
		</div>
		<form action="/user/signin-auth/" method="POST" class="ajax-form signin-form" >
			{% csrf_token %}
			<table class="form-table">
				<tr><td>Email : </td><td><input type="text" name="email" class="ui-input" placeholder="Email id" /></td></tr>
				<tr><td>Password : </td><td><input type="password" name="pass" class="ui-input" placeholder="Password" /></td></tr>
				<tr><td></td>
				<td><input type="submit" name="signin" value="Sign In" class="ui-btn" />
				</td></tr>
			</table>
		</form>
	</div>
</div>
<script type="text/javascript">
$(function() {
	$('.signin-form').data('handlers', {before: beforeSignIn, after: afterResponse});
});

function beforeSignIn(e) {
	console.log("+beforeSignIn");
	return true;
}
</script>

{% endblock %}
