
<div class="ui-content" >
	<div class="ui-bar-tbb" > User Info </div>
	<ul class="ui-vlist" >
		<li><a href="/user/info/" data-dest="#ui-main" data-box="2" >Info</a></li>
		<li><a href="/user/topics/" data-dest="#ui-main" data-box="2" >Topics</a></li>
		<li><a href="/user/mails/" data-dest="#ui-main" data-box="2" >Mails</a></li>
		<li><a href="/user/stats/" data-dest="#ui-main" data-box="2" >Stats</a></li>
		<li><a href="/user/settings/" data-dest="#ui-main" data-box="2" >Settings</a></li>
		{% if user.level == 9 %}
		<li><a href="/myadmin/" >Admin</a></li>
		{% endif %}
	</ul>
</div>
