{% load tz %}
{% load staticfiles %}

<script type="text/javascript">

var UserInfoFormHandler = {
	before: function(e) {
		console.log("+beforeSaveReq");
		return true;
	},
	after: function(e) {
		console.log("+afterSaveRes");
		var vals = e.resp.data;
		var $form = e.$form;
		if (e.status) {
			for (var key in vals) {
				var val = vals[key];
				console.log(key+' : '+val);
				$AppFormUtils.setValByName($form, key, val);
				var $node = $form.find('[name='+key+']');
				$node.prev('.ui-errors').remove();
			}
			$form.find('input[type=button]').click();
			$AppNoti.info({title:'Done!!', text:e.resp.message});
		} else {
			var errors = '';
			for (var key in vals) {
				errors += vals[key] + '<br />';
				var $node = $form.find('[name='+key+']');
				if ($node.length > 0) {
					var $errors = $node.prev('.ui-errors');
					if ($errors.length > 0) {
						$errors.html(vals[key]);
					} else {
						$node.before('<p class="ui-errors">'+vals[key]+'</p>');
					}
				}
			}
			$AppNoti.info({title:e.resp.message, text:errors});
		}
	},
};

function editFormFields(e, pThis)
{
	var $block = $(pThis).parents('.ui-block');
	var $form = $block.find('.ajax-form');
	$form.find('.info_view, .info_edit').toggle();
	var $controls = $block.find('.form_controls');
	$controls.toggle();
}

function sendOTP()
{
	$AppRequest.post('/user/requestopt/', '', function(status, json) {
		$AppNoti.info(json.message);
	});
}

$(function() {
	$('#user_basic_info_form').data('data-handler', UserInfoFormHandler);
	$('#user_pass_form').data('data-handler', UserInfoFormHandler);
});

</script>
<div class="ui-content" >
	<div class="ui-block" >
		<div class="ui-block-bar" >
			<div>
				<h3>ACCOUNT</h3>
			</div>
			<div>
				<div class="ui-right" >
					<a onclick="editFormFields(event, this)" >
						<img src="{% static 'images/svg/editfilled_24_1.svg' %}" style="width:24px; height:24px;" />
					</a>
				</div>
			</div>
		</div>
		<div class="ui-block-body">
			<form method="POST" action="/user/update/" class="ajax-form" id="user_basic_info_form" data-delegates="{}" >
				{% csrf_token %}
				<table class="ui-info-table" id="base_info_table" >
					<!--<tr><td>PHOTO</td><td><img src="{{user.image.url}}" style="width:80px; height:80px;" /></td></tr>-->
					<tr class="info_item user_info_item" >
						<td>
							<div class="info_block" >
								<div class="info_title" >
									<p>NAME</p>
								</div>
								<div class="info_view" >
									<label class="info_value" data-rel="U_name" >{{user.name}}</label>
								</div>
								<div class="info_edit ui-hide" >
									<input type="text" name="U_name" class="ui-input" placeholder="Name" value="{{user.name}}" data-value="{{user.name}}" />
								</div>
							</div>
						</td>
					</tr>
					<tr class="info_item user_info_item" >
						<td>
							<div class="info_block" >
								<div class="info_title" >
									<lable>EMAIL</lable>
								</div>
								<div class="info_view" >
									<label data-rel="U_email" >{{user.email}}</label>
								</div>
								<div class="info_edit ui-hide" >
									<input type="text" name="U_email" class="ui-input" placeholder="Email" value="{{user.email}}" data-value="{{user.email}}" />
								</div>
							</div>
						</td>
					</tr>
					<tr class="info_item user_info_item" >
						<td>
							<div class="info_block" >
								<div class="info_title" >
									<lable>PHONE</lable>
								</div>
								<div class="info_view" >
									<label data-rel="U_phone" >{{user.phone}}</label>
								</div>
								<div class="info_edit ui-hide" >
									<input type="text" name="U_phone" class="ui-input" placeholder="Phone" value="{{user.phone}}" data-value="{{user.phone}}" />
								</div>
							</div>
						</td>
					</tr>
				</table>
				<div class="ui-hide form_controls" >
					<input type="submit" value="Save" class="ui-btn" />
					<input type="button" value="Cancel" class="ui-btn" onclick="editFormFields(event, this)" />
				</div>
			</form>
		</div>
	</div>

	<div class="ui-block" >
		<div class="ui-block-bar" >
			<div>
				<h3>ADVANCE</h3>
			</div>
			<div>
				<div class="ui-right" >
					<a onclick="editFormFields(event, this)" >
						<img src="{% static 'images/svg/editfilled_24_1.svg' %}" style="width:24px; height:24px;" />
					</a>
				</div>
			</div>
		</div>
		<div class="ui-block-body">
			<form action="/user/updatepass/" method="POST" class="ajax-form" id="user_pass_form" >
			{% csrf_token %}
			<table class="ui-info-form" >
				<tr class="info_item user_info_item" >
					<td>
						<div class="info_block" >
							<div class="info_title" >
								<lable>PASSWORD</lable>
							</div>
							<div class="info_view" >
								<label data-rel="U_pass0" >xxxxxxxxx</label>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<a onclick="editFormFields(event,this)" >Change Password</a>
							</div>
							<div class="info_edit ui-hide" >
								<table class="ui-info-table" >
									<tr><td><a onclick="sendOTP()">Get OTP on Email</a></td></tr>
									<tr><td><input type="password" name="U_pass0" class="ui-input" placeholder="Old Password or OTP" value="" data-value="xxxxxxxxxx" /></td></tr>
									<tr><td><input type="password" name="U_pass1" class="ui-input" placeholder="New Password" value="" data-value="xxxxxxxxxx" /></td></tr>
								</table>
							</div>
						</div>
					</td>
				</tr>
			</table>
			<div class="ui-hide form_controls" >
				<input type="submit" value="Save" class="ui-btn" />
				<input type="button" value="Cancel" class="ui-btn" onclick="editFormFields(event, this)" />
			</div>
			</form>
		</div>
	</div>
</div>
