.app_check[type=checkbox] { width: 24px; height: 24px; visibility: hidden; }
.app_check[type=checkbox]:before { visibility: visible; position:absolute; width: inherit; height: inherit; content: url({% static "images/svg/checkbox_unchecked_24_1.svg" %}); }
.app_check[type=checkbox]:checked:before { content: url({% static "images/svg/checkbox_checked_24_1.svg" %}); }
