{% load tz %}
{% load staticfiles %}

<script type="text/javascript">
function editText(e, This)
{
	e.stopPropagation();
	e.preventDefault();
	console.log('+editText');
	var root = $(This).parents('.user_info_item');
	var inputs = root.find('.user_info_data');
	var controls = root.find('.item_controls');
	if (inputs.attr('readonly')) {
		inputs.removeAttr('readonly');
	} else {
		inputs.attr('readonly', 'readonly');
		inputs.val(inputs.attr('data-value'));
	}
	controls.toggleClass('ui-hide');
}

var UserInfoSaveHandlers = {
	before: function(e) {
		console.log("+beforeSaveReq");
		return true;
	},
 	after: function(e) {
		console.log("+afterSaveRes");
		if (e.status) {
			var vals = e.resp.data;
			var $form = e.$form;
			for (var key in vals) {
				var val = vals[key];
				console.log(key+' : '+val);
				var inp = $form.find('.ui-input[name='+key+']');
				if (inp.exists()) {
					inp.attr('data-ovalue', val);
				}
			}
			$form.find('input[type=button]').click();
			$AppNoti.info({title:e.resp.message, text:''});
		} else {
			var errors = '';
			for (var err in e.resp.data) {
				errors += e.resp.data[err] + '<br />';
			}
			$AppNoti.info({title:e.resp.message, text:errors});
		}
	},
};

function toggleEditMode($form)
{
	console.log('+toggleFormElements');
	$.each($form.find('.info_view .info_edit'), function(index, elm) {
		$(elm).toggle();
	});
}

function editDataFields(e, pThis)
{
	var $block = $(pThis).parents('.ui-block');
	var $form = $block.find('.ajax-form');
	toggleFormElements($form);
	var $controls = $block.find('.form_controls');
	$controls.toggle();
}

$(function(){ $('#user_basic_info_form').data('data-handlers', UserInfoSaveHandlers); });

</script>
<div class="ui-content" >
	<div class="ui-block" >
		<div class="ui-block-bar" >
			<div>
				<h3>ACCOUNT</h3>
			</div>
			<div>
				<div class="ui-right" >
					<a onclick="editDataFields(event, this)" >
						<img src="{% static 'images/svg/editfilled_24_1.svg' %}" style="width:24px; height:24px;" />
					</a>
				</div>
			</div>
		</div>
		<div class="ui-block-body">
			<form method="POST" action="/user/update/" class="ajax-form" id="user_basic_info_form" data-delegates="{}" >
				{% csrf_token %}
				<table class="ui-info-table" id="base_info_table" >
					<!--<tr><td>PHOTO</td><td><img src="{{user.image.url}}" style="width:80px; height:80px;" /></td></tr>-->
					<tr class="info_item user_info_item" >
						<td>
							<div class="info_block" >
								<div class="info_title" >
									<lable>NAME</lable>
								</div>
								<div class="info_view" >
									<label>{{user.name}}</label>
								</div>
								<div class="info_edit ui-hide" >
									<input readonly type="text" name="U_name" class="ui-input" placeholder="Name" value="{{user.name}}" data-ovalue="{{user.name}}" />
								</div>
							</div>
						</td>
					</tr>
					<tr class="info_item user_info_item" >
						<td>
							<div class="info_block" >
								<div class="info_title" >
									<lable>EMAIL</lable>
								</div>
								<div class="info_view" >
										<label>{{user.name}}</label>
								</div>
								<div class="info_edit ui-hide" >
									<input readonly type="text" name="U_email" class="ui-input" placeholder="Email" value="{{user.email}}" data-ovalue="{{user.email}}" />
								</div>
							</div>
						</td>
					</tr>
					<tr class="info_item user_info_item" >
						<td>
							<div class="info_block" >
								<div class="info_title" >
									<lable>PHONE</lable>
								</div>
								<div class="info_view" >
										<label>{{user.name}}</label>
								</div>
								<div class="info_edit ui-hide" >
									<input readonly type="text" name="U_phone" class="ui-input" placeholder="Name" value="{{user.phone}}" data-ovalue="{{user.phone}}" />
								</div>
							</div>
						</td>
					</tr>
				</table>
				<div class="ui-hide form_controls" >
					<input type="submit" value="Save" class="ui-btn" />
					<input type="button" value="Cancel" class="ui-btn" onclick="editDataFields(event, this)" />
				</div>
			</form>
		</div>
	</div>

	<div class="ui-block" >
		<div class="ui-block-bar" >
			<div>
				<h3>ADVANCE</h3>
			</div>
			<div>
				<div class="ui-right" >
					<a onclick="editDataFields(event, this)" >
						<img src="{% static 'images/svg/editfilled_24_1.svg' %}" style="width:24px; height:24px;" />
					</a>
				</div>
			</div>
		</div>
		<div class="ui-block-body">
			<a href="#/user/changepass/" >Change Password</a>
		</div>
	</div>
</div>
