{% load staticfiles %}

<div class="app_header" style="height: 3.3em;" >
	<div style="width:5%;">
		<span style="font-size:1.5em; cursor:pointer;" class="open" onclick="navClicked()">&#9776;</span>
	</div>
	<div id="app_logo_div" >
		<div id="app_logo" style="margin-left: 1em;" >
			<a href="/" style="display: block; font-size:1.5em; color:#9966FF; text-decoration:none;">
				Trader
			</a>
		</div>
	</div>
	<div style="text-align:right;">
		{% if user.is_loggedin %}
		<a href="/user/account/">
			<img src="{{user.image.url}}" class="ui-dselect" style="width:24px; height:24px;" />
		</a>
		{% else %}
		<a href="/user/signin/">
			<img src="{% static 'images/icons-svg/user.svg' %}" class="ui-dselect" style="width:24px; height:24px;" />
		</a>
		{% endif %}
	</div>
</div>
<div class="app_header">
	<div id="app_search_div">
		<form method="POST" >
			<input type="text" name="search" id="app_search_input" placeholder="Search here..." autocomplete="off" />
		</form>
	</div>
</div>
<div class="app_header" >
	<ul class="ui-hlist-resp">
		<li><a href="/" >Home</a></li>
		<li><a href="/offer/" >Offers</a></li>
		<li><a href="/offer/new/">Add Offer</a></li>
		<li><a href="/public/aboutus/">About</a></li>
		<li><a href="/public/contacts/">Contact</a></li>
	</ul>
</div>

<div class="ui-overlay" id="app_close" >
	&nbsp;
</div>

<!-- Toast widget -->
<div class="ui-toast ui-hide" >
</div>
