{% load staticfiles %}

<div data-role="header" data-position="fixed" data-tap-toggle="false" >
	<style>
	#website-info { width:13%; float: left; }
	.search-box { float: left; width: 80%; }
	.search-results { position: absolute; width: 80%; z-index:50; display: none; }
	</style>
	<div id="header-top" class="ui-content"  >
		<div id="website-info" class="ui-content" style="padding: 0.2em;">
			<!-- website logo -->
			<a href="/" data-ajax="false" style="display: block;">
			<img src="{% static 'images/offers.png' %}" />
			</a>
		</div>
		<div class="search-box" data-role="main" class="ui-content" style="padding: 0em 0.5em;" >
			<form method="post" action="javascript:doSearch()" id="search-form" class="search-form" >
				<input data-type="search" name="search" id="search" class="search" value="" placeholder="Search here..." autocomplete="off" onblur="showSearchList($(this), false)" onfocus="showSearchList($(this), true)" />
			</form>
			<ul data-role="listview" data-filter="true" data-inset="true" data-input="#search" class="search-results" style="margin-top: 0em;" >
			    <!--<li data-filtertext="main page:home page"><a href="#">Home</a></li>-->
			</ul>
		</div>
	</div>
	<div data-role="navbar" data-iconpos="left" >
		<ul>
			<li><a href="/" data-transition="none" data-icon="home"
			{% if page == 'home' %}
			class="ui-btn-active ui-state-persist"
			{% endif %} >Home</a></li>
			<li><a href="/" data-transition="none" data-icon="grid"
			{% if page == 'post' %}
			class="ui-btn-active ui-state-persist"
			{% endif %} >Offers</a></li>
			<li><a href="/offer/alerts/" data-transition="none" data-icon="alert"
			{% if page == 'alerts' %}
			class="ui-btn-active ui-state-persist"
			{% endif %} >Alerts</a></li>
			{% if user.is_loggedin %}
			<li><a href="/user/profile/" data-transition="none" data-icon="user"
			{% if page == 'user' %}
			class="ui-btn-active ui-state-persist"
			{% endif %} >{{ user.name }}</a></li>
			{% else %}
			<li><a href="/user/signin/" data-transition="none" data-icon="user"
			{% if page == 'user' %}
			class="ui-btn-active ui-state-persist"
			{% endif %} > SignIn </a></li>
			{% endif %}
		</ul>
	</div>
</div>

<!--  -->
<div style="position: fixed; bottom: 7%; left: 5%; z-index: 51" >
	<a href="#dais-panel" data-icon="bars" data-iconpos="notext" data-role="button" class="dais-fab" >Menu</a>
</div>
<div data-role="panel" id="dais-panel" data-position="left" data-display="overlay" >
	<!-- <a href="#" data-rel="close" data-icon="delete" data-role="button" >Close</a> -->
	<ul data-role="listview">
		<li><a href="/offer/online/">online stores</a></li>
		<li><a href="/offer/nearby/">Nearby stores</a></li>
		<li><a href="/offer/bulk/">Bulk deals</a></li>
		<li><a href="/offer/food/">Food deals</a></li>
	</ul>
</div>


<!-- Toast widget -->
<div class="toast" style="display: none;" >
</div>