<div class="ui-content" >
	<div class="ui-bar-tbb" >Quick Links</div>
	<ul class="ui-vlist">
		<li><a href="/" >New Products</a></li>
		<li><a href="/offer/online/" >Online Stores</a></li>
		<li><a href="/offer/nearby/" >Nearby Stores</a></li>
		<li><a href="/offer/bulk/" >Bulk Deals</a></li>
		<li><a href="/offer/food/" >Food deals</a></li>
	</ul>
</div>

<div class="ui-content" style="margin-top: 1.2em;" >
	<div class="ui-bar-tbb" >Account</div>
	<ul class="ui-vlist">
		<li><a href="/user/profile/" data-dest="#app_page" data-box="1" >Profile</a></li>
		<li><a href="/user/wishlist/" data-dest="#app_page" data-box="1" >Wishlist</a></li>
		<li><a href="/user/mails/" data-dest="#app_page" data-box="1" >Messages</a></li>
		<li><a href="/user/settings/" data-dest="#app_page" data-box="1" >Contacts</a></li>
	</ul>
</div>
