{% extends base_template %}

{% block content %}
<div data-role="page" id="indexpage" data-dom-cache="false" >
{% include './header.html' %}
	{% if offer %}
	<div class="ui-bar-a">
		<h3>{{offer.name}}</h3>
	</div>
	<div class="ui-body" >
		<img src="{{offer.image.url}}" alt="{{offer.name}} | {{offer.discount}}% Off" title="{{offer.name}} | {{offer.discount}}% Off" />

		<div class="ui-line-s"></div>
		<h4>{{offer.P_discount}}% Off</h4>
		<h4>&#8377; {{offer.discount_price}} <strike>&#8377; {{offer.price}}</strike></h4>
		<h5>From {{offer.start_date}} to {{offer.expire_date}}</h5>
	</div>
	{% endif %}

{% include './footer.html' %}
</div>
{% endblock %}