{% extends './base.html' %}


{% block pagemenu %}
{% include './admin_left_nav.html' %}
{% endblock %}

{% block content %}
<div class="ui-page" >
	<div class="ui-bar-tbb">
		<h3>Locations</h3>
	</div>
	<div class="ui-body">
	{% if areas|length == 0 %}
		<h4>No location</h4>
	{% else %}
		<div class="ui-bar-tbb">
			<a href="/myadmin/locus/">Countries &gt;&gt;</a>
			<a href="/myadmin/locus/{{country}}/"> {{country}} &gt;&gt; </a>
			<a href="/myadmin/locus/{{country}}/{{state}}/"> {{state}} &gt;&gt; </a>
			<a href="/myadmin/locus/{{country}}/{{state}}/{{city}}/"> {{city}} &gt;&gt; </a>
			<a href="/myadmin/locus/{{country}}/{{state}}/{{city}}/{{area}}/"> {{area}} &gt;&gt; </a>
		</div>
		{% for area in areas %}
			<p> Area Name : <strong>{{area.name}}</strong></p>
			<p> Area Pin : <strong>{{area.pin}}</strong></p>
			<div class="ui-bar-tbb"></div>
			<br />
			<br />
		{% endfor %}
	{% endif %}
	</div>
</div>
{% endblock %}
