{% load tz %}
{% load staticfiles %}
{% include './address_picker_1.html' %}

<script type="text/javascript" >

	function editAddress(e, This)
	{
		console.log('+editAddress');
	}

	function deleteAddress(e, This)
	{
		console.log('+deleteAddress');
		var $item = $(This).parents(".locus_addr_item");
		data = $AppData.csrf();
		data['A_id'] = $item.attr('data-aid');
		console.log(data['A_id']);

		$AppRequest.post('/locus/address/delete/', data, function(status, resp){
			if (status) {
				$item.parent('.locus_addr_item_w').hide(500, function(){ $(this).remove(); });
			} else {
				$AppNoti.error({title:resp.message, text:JSON.stringify(resp.data)});
			}
		});
	}

	function showAddressBox(e, This) {
		console.log("+showAddressBox");
		e.stopPropagation();
		$AppOverlay.show($('#address_picker'));
		//updateMap();
	}

	function hideAddressBox()
	{
		console.log('+hideAddressBox');
		$AppOverlay.close();
	}

	function toggleBoxSize(e, This)
	{
		console.log('+toggleBoxSize');
		$(This).toggleClass('locus_addr_item_w_expanded');
		var top = $(This).offset().top;
		if ($(window).scrollTop() > top)
			$(window).scrollTop(top);
	}

	function OnAddrSaveReq__(e) {
		console.log("+OnAdSaveReq__");
		return true;
	}

	function OnAddrSaveRes__(e) {
		console.log("+OnAddrSaveRes__");
		if (e.status == true) {
			var val = '<div  class="locus_addr_item_w" onclick="toggleBoxSize(event, this)">'
						+e.resp
						+'</div>';
			$('#locus_addr_cont').prepend(val);
			hideAddressBox();
			$AppNoti.info({title:"Saved", text:"Address saved Successfully!!"});
		} else {
			var errors = '';
			for (var err in e.resp.data) {
				errors += e.resp.data[err] + '<br />';
			}
			$AppNoti.info({title:e.resp.message, text:errors});
		}
		return true;
	}

	$(function() {
		BeforeAddrSaveEvent.add(OnAddrSaveReq__);
		AfterAddrSaveEvent.add(OnAddrSaveRes__);
	});
</script>
<style>
	.locus_addr_item { overflow:hidden; height: 100%; margin: 2px; }
	.locus_addr_item_selected { border: 1px solid #36F; }
	.locus_addr_item_w { width:100%; height:250px; margin-top: 10px; vertical-align:top; overflow:hidden; cursor: pointer; }
	.locus_addr_item_w .locus_addr_item:hover { opacity: 0.9; border: 1px solid #aaa;  }
	.locus_addr_item_w_expanded { height:100%; }
	.locus_addr_table tr td:first-child { text-align: right; width: 15%; }
</style>

<div class="ui-content" >
	<div class="ui-block" >
		<div class="ui-block-bar">
			<div>
				<h3>ADDRESS</h3>
			</div>
			<div>
			</div>
		</div>
		<div class="ui-block-body">
			<a onclick="showAddressBox(event, this);" class="ui-btn-a" >New Address</a>
		</div>
	</div>
	<div id="locus_addr_cont"  /*class="ui-grid"*/ >
		{% for address in addresses %}
		<div  class="locus_addr_item_w" onclick="toggleBoxSize(event, this)">
			{% include './address_item_1.html' %}
		</div>
		{% endfor %}
	</div>
</div>
