{% load staticfiles %}
<header>
	<div id="ui-header-cont">
		<div id="ui-header" >
			<div id="site-logo-div" >
				<div id="logo" >
					<a href="/" ><img src="{% static 'images/offers.png' %}" /></a>
				</div>
				<!--<h5>MyOffers</h5>-->
			</div>
			<div id="site-search-div">
				<form method="POST" >
					<input type="text" name="search" id="search-input" placeholder="Search here..." autocomplete="off" />
				</form>
			</div>
			<div id="site-nav-div" >
				<div style="float: right;">
				{% if user.is_loggedin %}
					<a href="/user/profile/">{{ user.name|slice:":11" }}</a> | <a href="/user/signout/">SignOut</a>
				{% else %}
					<a href="/user/signin/">SignIn</a> | <a href="/user/signup/">SignUp</a>
				{% endif %}
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	{% include './home_top_nav.html' %}
</header>

<!-- Toast widget -->
<div class="toast" style="display: none;" >
</div>