<style>
	#loc_results { position: absolute; width: 35%; margin-top: 3px; border: 1px solid #aaa; z-index: 4; display: none; background: #fff; }
	#loc_results ul { list-style: none; }
	#loc_results li a { display: block; padding: 0.5em 1.5em; }
	.search_item { padding: 0.5em 1.0em; border-bottom: 1px solid #ddd; }
	.search_item_a { background: #38f; color: #fff; }
	.search_item > div { display:inline-block; vertical-align:middle; margin-right: 0.4em; }
	.search_item img { width: 24px; height: 24px; }
	.ui-autocomplete { max-height: 200px; overflow-y: auto; overflow-x: hidden;	}
</style>


<script type="text/javascript">
$(function(){
	var dateFmt = "yy/mm/dd",
		from = $("#OF_start_date").datepicker({
				minDate: new Date(),
				dateFormat: dateFmt,
				//defaultDate: "+1w",
				changeMonth: true,
				numberOfMonths: 1
			}).on("change", function(){
				to.datepicker("option", "minDate", getDate(this));
			}),
		to = $("#OF_expire_date").datepicker({
			dateFormat: dateFmt,
			//defaultDate: "+1w",
			changeMonth: true,
			numberOfMonths: 1
		})
		.on( "change", function(){
			from.datepicker("option", "maxDate", getDate(this));
		});

	function getDate(element){
		var date;
		try {
			date = $.datepicker.parseDate(dateFmt, element.value);
		} catch(error) {
			date = null;
		}
		return date;
	}

	$("#OF_address").suggestions({
		minLength: 2,
		_source: function(key, resp) {
			$AppRequest.post('/search/location/', {'key': key}, function(status, result){
				if (true == status) {
					resp(result.data);
				} else {
					console.log('error : '+JSON.stringify(result.error));
				}
			});
			//resp(JSON.parse("[{'name': 'Amit Dhiman'}]"));
		},
		_itemCreate: function(item) {
			var uiItem = '<li>'
			+ '<div class="wt-search-item">'
			+ '<div><img src="{{loc_image}}" /></div>'
			+ '<div>'
			+ item.name + '<br />' + item.city + '('+item.pin+')'
			+ '</div></div>'
			+ '</li>';
			return uiItem;
		},
		_itemSelect: function(input, item) {
			input.val(item.name+' ('+item.pin+')');
		}
	});

	$('.ajax-file-upload').fileupload({maxFiles:2});
});


function OnOfferSaveReq__(e) {
	console.log("+beforeOfferSaveReq");
	return true;
}

function OnOfferSaveRes__(e) {
	console.log("+afterOfferSaveRes");
	if (e.status) {
		//var val = e.resp;
		//$('#address_cont').prepend(val);
		$AppNoti.info({title:'Success', text:e.resp.message});
	} else {
		var errors = '';
		for (var err in e.resp.data) {
			errors += e.resp.data[err] + '<br />';
		}
		$AppNoti.info({title:e.resp.message, text:errors});
	}
}
</script>

<div class="ui-content" >
	<div class="ui-block" >
		<div class="ui-block-bar">
			<div>
			<h3>Post New Offer</h3>
			</div>
		</div>
		<div class="ui-block-body" >
			<h5 class="errors">{{form_errors.request}}</h5>
			<form action="/offer/create/" method="POST" enctype="multipart/form-data" class="ajax-form" id="offer_form" data-delegates='{"before": "OnOfferSaveReq__", "after": "OnOfferSaveRes__"}'>
				{% csrf_token %}
				<table class="ui-form-table">
					<td>BUSINESS : </td>
                    <td>
                        <select class="ui-input" name="OF_business" >
                            {% for item in businesses %}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
					</tr>
					<tr>
					<td>PRODUCT IMAGE : </td>
					<td><input type="file" name="OF_image" class="ui-input ajax-file-upload" multiple />
					</tr>
					<tr>
					<td>PRODUCT NAME : </td>
					<td><input type="text" name="OF_name" class="ui-input" value="{{form_values.OF_name}}" />
					</tr>
					<tr>
					<td>PRICE : </td>
					<td><input type="text" name="OF_price" id="OF_price" class="ui-input" value="{{form_values.OF_price}}" />
					</tr>
					<tr>
					<td>DISCOUNT (%) : </td>
					<td><input type="text" name="OF_discount" id="OF_discount" class="ui-input" value="{{form_values.OF_discount}}" />
					<td><p class="errors">{{form_errors.OF_discount}}</p></td>
					</tr>
					<tr>
					<td>DISCOUNTED PRICE : </td>
					<td><input type="text" name="OF_discount_price" class="ui-input" value="{{form_values.OF_discount_price}}" />
					</tr>
					<tr>
					<tr>
					<td>START DATE : </td>
					<td><input type="text" name="OF_start_date" id="OF_start_date" class="ui-input" value="{{form_values.OF_start_date}}" autocomplete="off" readonly style="border: 1px solid #ddd;" />
					</tr>
					<tr>
					<td>EXPIRE DATE : </td>
					<td><input type="text" name="OF_expire_date" id="OF_expire_date" class="ui-input" value="{{form_values.OF_expire_date}}" autocomplete="off" readonly style="border: 1px solid #ddd;" />
					</tr>
					<tr>
					<td>&nbsp;</td>
					<td><input type="submit" name="submit" value="Publish" class="ui-btn ui-btn-input" /></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
