{% load tz %}
{% load staticfiles %}
{% include './address_picker_1.html' %}

<script type="text/javascript" >
    function defaultAddress(pThis,id)
    {
        console.log('+defaultAddress');
    }

    function editAddress(pThis,id)
    {
        console.log('+editAddress');
    }

    function deleteAddress(pThis,id)
    {
        console.log('+deleteAddress');
        data = get_csrf();
        data['A_id'] = id;
        $AppRequest.post('/locus/address/delete/', data, function(status, resp){
            if (status) {
                $(pThis).parents(".addr_item").remove();
            } else {
                $AppNoti.error({title:resp.message, text:JSON.stringify(resp.data)});
            }
        });
    }

    function showAddressBox(e, pThis) {
        console.log("+showAddressBox");
        e.stopPropagation();

        $AppOverlay.show($('#address_picker'));
        //updateMap();
    }

    function hideAddressBox()
    {
        console.log('+hideAddressBox');
        $AppOverlay.close();
    }

    function OnAddrSaveReq__(e) {
    	console.log("+OnAdSaveReq__");
    	return true;
    }

    function OnAddrSaveRes__(e) {
    	console.log("+OnAddrSaveRes__");
    	if (e.status) {
    		var val = e.resp;
    		$('#address_cont').prepend(val);
            hideAddressBox();
    	} else {
    		var errors = '';
    		for (var err in e.resp.data) {
    			errors += e.resp.data[err] + '<br />';
    		}
    		$AppNoti.info({title:e.resp.message, text:errors});
    	}
        return true;
    }

    $(function() {
        BeforeAddrSaveEvent.add(OnAddrSaveReq__);
        AfterAddrSaveEvent.add(OnAddrSaveRes__);
    });
</script>

<div class="ui-content" >
	<div class="ui-block" >
		<div class="ui-block-bar">
			<div>
				<h3>ADDRESS</h3>
			</div>
			<div>
			</div>
		</div>
		<div class="ui-block-body">
			<a onclick="showAddressBox(event, this);" class="ui-btn-a" >New Address</a>
		</div>
	</div>
    <div id="address_cont" >
        {% for address in addresses %}
            {% include './address_item_1.html' %}
        {% endfor %}
    </div>
</div>
