{% load tz %}
{% load staticfiles %}
{% include './address_picker_1.html' %}

<script type="text/javascript" >

	function editAddress(e, This)
	{
		console.log('+editAddress');
		var $table = $(This).parents('.locus_addr_item').find('.locus_addr_table');
		var uid = $table.find(".locus_addr_item_uid").html();
		var loc = $table.find(".locus_addr_item_loc").html();
		var name = $table.find(".locus_addr_item_name").html();
		var address = $table.find(".locus_addr_item_addr").html();
		var pincode = $table.find(".locus_addr_item_pincode").html();
		var pname = $table.find(".locus_addr_item_pname").html();
		var pphone = $table.find(".locus_addr_item_pphone").html();
		var vals = {
			'A_id': uid,
			'A_name': name,
			'A_address': address,
			'A_pincode': pincode,
			'A_location': loc,
		};
		AppLib.FormUtil.fillByName($('#locus_addr_form'), vals);
		showAddressBox(e, This);
	}

	function deleteAddress(e, This)
	{
		console.log('+deleteAddress');
		var $item = $(This).parents(".locus_addr_item");
		var data = AppLib.AppUtil.csrfToken();
		data['A_id'] = $item.attr('data-aid');
		console.log(data['A_id']);

		var http = new AppLib.HttpService();
		http.post('/locus/address/delete/', data, function(status, resp){
			if (status) {
				$item.parent('.locus_addr_item_w').hide(500, function(){ $(this).remove(); });
			} else {
				AppLib.UINoti.make({title:resp.message, text:JSON.stringify(resp.data)}).show();
			}
		});
	}

	function showAddressBox(e, This) {
		console.log("+showAddressBox");
		e.stopPropagation();
		AppLib.UIOverlay.Instance().show($("#locus_addr_picker"));
	}

	function hideAddressBox()
	{
		console.log('+hideAddressBox');
		AppLib.FormUtil.fillByName($('#locus_addr_form'), {A_id:'-1'});
		AppLib.UIOverlay.Instance().close();
	}

	function toggleBoxSize(e)
	{
		console.log('+toggleBoxSize');
		var $This = $(this);
		$This.toggleClass('locus_addr_item_w_expanded');
		AppLib.DomUtil.scrollTo($This);
	}

	function OnAddrSaveRes__(e) {
		console.log("+OnAddrSaveRes__");
		if (e.status == true) {
			var val = '<div  class="locus_addr_item_w" >'+e.resp+'</div>';
			$("#locus_addr_cont").prepend(val);
			hideAddressBox();
			AppLib.UINoti.make({title:"Saved", text:"Address saved Successfully!!"}).show();
		} else {
			var errors = '';
			for (var err in e.resp.data) {
				errors += e.resp.data[err] + '<br />';
			}
			AppLib.UINoti.make({title:e.resp.message, text:errors}).show();
		}
		return true;
	}

	$(function() {
		AfterAddrSaveEvent.sub(OnAddrSaveRes__);
		$(document).on("click", ".locus_addr_item_w", toggleBoxSize);
	});
</script>
<style>
	.locus_addr_item { height: 100%; width: 100%; }
	.locus_addr_item_selected { border: 1px solid #36F; }
	.locus_addr_item_w { display: inline-block; width:30%; height:250px; vertical-align:top; overflow-y:hidden; cursor: pointer; }
	.locus_addr_item_w .locus_addr_item:hover { opacity: 0.9; border: 1px solid #aaa;  }
	.locus_addr_item_w_expanded { height:100%; }
	.locus_addr_table tr td:first-child { text-align: right; width: 15%; }
</style>

<div class="ui-content" >
	<div class="ui-block" >
		<div class="ui-block-head">
			<div>
				<h3>ADDRESS</h3>
			</div>
			<div>
			</div>
		</div>
		<div class="ui-block-body">
			<a onclick="showAddressBox(event, this);" class="ui-btn-a" >New Address</a>
		</div>
	</div>
	<div id="locus_addr_cont"  /*class="ui-grid"*/ >
		{% for address in addresses %}
		<div  class="locus_addr_item_w" >
			{% include './address_item_1.html' %}
		</div>
		{% endfor %}
	</div>
</div>
