<div class="ui-block locus_addr_item" data-aid="{{address.id}}" >
    <div class="ui-block-bar">
        <div>
            <h2>{{address.name}}</h2>
        </div>
        <div>
            <div class="ui-right" >
                <div class="ui-hovermenu" >
                    <div class="ui-hoverbtn" >
                        <a style="font-size:1.8em; text-decoration:none;" >&#8230;</a>
                    </div>
                    <div class="ui-hovercontent" >
                        <ul class="ui-vlist" >
                            <li><a onclick="editAddress(event, this)" >Edit</a></li>
                            <li><a onclick="deleteAddress(event, this)" >Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-block-body">
        <table class="ui-form-table locus_addr_table" >
            <tr class="ui-hide"><td class="locus_addr_item_uid" >{{address.id}}</td></tr>
            <tr class="ui-hide"><td class="locus_addr_item_loc" >{{address.location}}</td></tr>
            <tr><td>NAME </td><td class="locus_addr_item_name">{{address.name}}</td></tr>
            <tr><td>ADDRESS </td><td class="locus_addr_item_addr">{{address.address}}</td></tr>
            <tr><td>PERSON </td><td class="locus_addr_item_pname">{{address.person}}</td></tr>
            <tr><td>PHONE </td><td class="locus_addr_item_pphone">{{address.phone}}</td></tr>
            <tr><td>PINCODE </td><td class="locus_addr_item_pincode">{{address.pincode}}</td></tr>
            <tr><td>LANDMARK </td><td>{{address.landmark}}</td></tr>
            <tr><td>AREA </td><td>{{address.area}}</td></tr>
            <tr><td>CITY </td><td>{{address.city}}</td></tr>
            <tr><td>STATE </td><td>{{address.state}}</td></tr>
            <tr><td>COUNTRY </td><td>{{address.country}}</td></tr>
        </table>
    </div>
</div>
