<div class="ui-block addr_item" style="margin-top: 1em;" >
    <div class="ui-block-bar">
        <div>
            <h2>{{address.name}}</h2>
        </div>
        <div>
            <div class="ui-right" >
            <a onclick="defaultAddress(this, {{address.id}})" >Default</a>
            &nbsp;|&nbsp;
            <a onclick="editAddress(this, {{address.id}})" >Edit</a>
            &nbsp;|&nbsp;
            <a onclick="deleteAddress(this, {{address.id}})" >Delete</a>
            </div>
        </div>
    </div>
    <div class="ui-block-body">
        <style>
            .address-table tr td:first-child { text-align: right; width: 15%; }
        </style>
        <table class="ui-form-table address-table" >
            <tr><td>NAME </td><td>{{address.name}}</td></tr>
            <tr><td>PERSON </td><td>{{address.person}}</td></tr>
            <tr><td>PHONE </td><td>{{address.phone}}</td></tr>
            <tr><td>PINCODE </td><td>{{address.pincode}}</td></tr>
            <tr><td>AREA </td><td>{{address.area}}</td></tr>
            <tr><td>CITY </td><td>{{address.city}}</td></tr>
            <tr><td>STATE </td><td>{{address.state}}</td></tr>
            <tr><td>COUNTRY </td><td>{{address.country}}</td></tr>
            <tr><td>LANDMARK </td><td>{{address.landmark}}</td></tr>
            <tr><td>ADDRESS </td><td>{{address.address}}</td></tr>
        </table>
    </div>
</div>
