<script type="text/javascript">
    var _gMap;
    var _gMarker;
    var _gGeocoder;
    var _gTimeout;
    function updateMap()
    {
        if (_gMap) {
            google.maps.event.trigger(_gMap, 'resize');
            if (_gMarker) {
                _gMap.setCenter(_gMarker.getPosition());
            }
        }
    }

    function initMap()
    {
        console.log("+initMap");
        var myLatlng = new google.maps.LatLng(12.972132,77.594010);
        var mapOpts = {
            zoom: 18,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        _gMap = new google.maps.Map(document.getElementById("gmap"), mapOpts);
        _gMarker = new google.maps.Marker({
            position: myLatlng,
            map: _gMap,
            draggable: true,
            title: "Your Location"
        });

        google.maps.event.addListener(_gMarker, 'dragend', function (e) {
            var lat = e.latLng.lat();
            var lng = e.latLng.lng();
            updateCurrLoc(lat,lng);
        });

        google.maps.event.addListener(_gMap, 'drag', function (e) {
            var myLatLng = this.getCenter();
            clearTimeout(_gTimeout);
            _gTimeout = setTimeout(function(){
                _gMarker.setPosition(myLatLng);
                updateCurrLoc(myLatLng.lat(), myLatLng.lng());
            }, 50);
        });
        // init place search
        initPlaceSearch();
        // trigger locate address
        locateAddress();
    }

    function initPlaceSearch()
    {
        console.log('+initPlaceSearch');
        var input = document.getElementById('gmap_search');
        var searchBox = new google.maps.places.SearchBox(input);
        //_gMap.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        _gMap.addListener('bounds_changed', function() {
            searchBox.setBounds(_gMap.getBounds());
        });
    }

    function locateAddress()
    {
        console.log("+fetchAddress");
        navigator.geolocation.getCurrentPosition(function(pos, err) {
            var lat = pos.coords.latitude.toFixed(8);
            var lng = pos.coords.longitude.toFixed(8);
            var ts = pos.timestamp;
            var acc = pos.coords.accuracy;
            updateCurrLoc(lat, lng);
        });
    }

    function updateCurrLoc(lat, lng)
    {
        _gGeocoder = new google.maps.Geocoder();
        console.log(lat + "-- ######## --" + lng);
        if (lat != '' && lng != '') {
            var myLatlng = new google.maps.LatLng(lat, lng);
            _gMarker.setPosition(myLatlng);
            _gMap.panTo(myLatlng);
            return getCurrentAddress(myLatlng, OnAddressFound);
        }
    }

    //Get current address
    function getCurrentAddress(loc, OnFound)
    {
      _gGeocoder.geocode({
    		'location': loc
      }, function(results, status) {
    	  if (status == google.maps.GeocoderStatus.OK) {
    		  console.log(results[0]);
    		  OnFound(true, results[0]);
    	  } else {
    		  console.log('Geocode failed reason: ' + status);
    		  OnFound(false, "");
    	  }
      });
    }

    function OnAddressFound(status, address)
    {
        console.log("+OnAddressFound");
        var faddr = address.formatted_address;
        var loc = address.geometry.location;
        loc = loc.lat() + "," + loc.lng();
        console.log('loc : '+loc);
        $("#address").html(faddr);
        var parts = faddr.split(",");
        var len = parts.length;
        var name = parts[0];
        var stateStr = parts[len - 2];
        var index = stateStr.lastIndexOf(" ");
        var state = stateStr.substr(0, index);
        var pincode = stateStr.substr(index + 1);
        var country = parts[len - 1];
        $('#A_name').val(name);
        $('#A_address').val(faddr);
        $('#A_pincode').val(pincode);
        $('#A_location').val(loc);
        $('#gmap_search').val(faddr);
    }

    function defaultAddress(pThis,id)
    {
    	console.log('+defaultAddress');
    }

    function editAddress(pThis,id)
    {
    	console.log('+editAddress');
    }

    function deleteAddress(pThis,id)
    {
    	console.log('+deleteAddress');
    	data = get_csrf();
    	data['A_id'] = id;
    	postRequest('/locus/address/delete/', data, function(status, resp){
    		if (status) {
    			$(pThis).parents(".addr_item").remove();
    		} else {
    			Noti.error({title:resp.message, text:JSON.stringify(resp.data)});
    		}
    	});
    }

    function beforeAdSaveReq(e) {
    	console.log("+beforeAdSaveReq");
    	return true;
    }

    function afterAdSaveRes(e) {
    	console.log("+afterAdSaveRes");
    	if (e.status) {
    		var val = e.resp;
    		$('#address_cont').prepend(val);
    	} else {
    		var errors = '';
    		for (var err in e.resp.data) {
    			errors += e.resp.data[err] + '<br />';
    		}
    		Noti.info({title:e.resp.message, text:errors});
    	}
    }

    $(function(){
    	$('#addr_form').data('handlers', {before: beforeAdSaveReq, after: afterAdSaveRes});
    });
</script>
<div id="address_picker" class="ui-hide" style="margin:0px auto; width:80%; padding:0.5em;">
	<div class="ui-block" >
		<div class="ui-block-bar">
			<div style="text-align: center;">
				<h3>ADDRESS</h3>
			</div>
			<div>
			</div>
		</div>
		<div class="ui-block-body">
			<div style="width: 90%; margin: 0 auto; border: 1px solid #ddd; ">
                <div style="display:table-cell; width: 50%;">
                    <table class="ui-info-table">
                        <tr><td>LOCATION</td></tr>
                        <tr><td>
                            <input type="text" name="gmap_search" id="gmap_search" class="ui-input" style="max-width:50em; padding-right:7em;" />
                            <a class="ui-btn-a" style="width:7em; margin-left: -7em;" onclick="locateAddress()"> Locate Me </a>
                        </td></tr>
                        <tr><td>
                        <div id="gmap" style="width: 95%; height: 300px; border: 2px solid #bbb;" >
                            <h1>&nbps;</h1>
                        </div>
                        </td></tr>
                        <tr><td>
                            <h2 style="font-size: 1em; font-weight:bold;">
                                Choose your business location from map to increase Visibility of your business on Internet
                            </h2>
                        </td></tr>
                    </table>
                </div>
                <div style="display:table-cell; width: 50%;" >
                    <form action="/locus/address/create/" method="POST" id="addr_form" class="ajax-form" >
                    <table class="ui-info-table">
                        {% csrf_token %}
                        <input type="hidden" name="A_location" id="A_location" value="" />
                        <tr><td>NAME</td></tr>
                        <tr><td><input type="text" name="A_name" id="A_name" class="ui-input" placeholder="House / Office Building Number" />
                        </td></tr>
                        <tr><td>PINCODE / ZIPCODE</td></tr>
                        <tr><td><input type="text" name="A_pincode" id="A_pincode" class="ui-input" placeholder="176039"/> </td></tr>
                        <tr><td>ADDRESS</td></tr>
                        <tr><td><textarea name="A_address" id="A_address" class="ui-textarea"> </textarea> </td></tr>
                        <tr><td>PHONE</td></tr>
                        <tr><td><input type="text" name="A_phone" id="A_phone" class="ui-input" placeholder="+91 9876543210" /> </td></tr>
                        <tr><td><input type="submit" value="Save" class="ui-btn" /></td></tr>
                    </table>
                    </form>
                </div>
			</div>
		</div>
	</div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMz94217XzpYaxnQRagzgCwpy4dfBM1Ho&libraries=places&callback=initMap">
</script>
