{% extends './base.html' %}

{% block content %}
<div class="ui-page" >
	<div class="ui-bar-tbb">
		<h3>Defaults</h3>
	</div>
	<div class="ui-body">
	{% if countries|length == 0 %}
		<h4>No default values</h4>
		<br />
		<a href="/myadmin/fill-defaults/" >
			<button class="ui-btn ui-btn-long">Fill Default values</button>
		</a>
	{% else %}
		<div class="ui-bar">
			<h3>Countries</h3>
		</div>
		<table class="info-table">
		<tr><th>Sr.</th><th>Country Name</th></tr>
		{% for country in countries %}
			<tr><td>{{country.pk}}</td><td>{{country.country_name}}</td></tr>
		{% endfor %}
		</table>
		<br />
		<div class="ui-bar">
			<h3>States</h3>
		</div>
		<table class="info-table">
			<tr><th>Sr.</th><th>State Name</th></tr>
			{% for state in states %}
				<tr><td>{{state.pk}}</td><td>{{state.state_name}}</td></tr>
			{% endfor %}
		</table>
	{% endif %}
	</div>
</div>
{% endblock %}