{% load staticfiles %}
<header>
	<div id="header-bg">
		<div id="header-content" >
			<div id="site-logo-div" >
				<div id="logo" >
					<a href="/" ><img src="{% static 'images/offers.png' %}" /></a>
				</div>
				<!--<h5>MyOffers</h5>-->
			</div>
			<div id="site-search-div">
				<form method="POST" >
					<input type="text" name="search" id="search-input" placeholder="Search here..." autocomplete="off" onblur="showSearchList($(this), false)" onfocus="showSearchList($(this), true)" />
				</form>
				<div id="search-results" >
					<ul class="site-list" ></ul>
				</div>
			</div>
			<div id="site-navbar-div" >
				<div style="float: right;">
				{% if user.is_loggedin %}
					<a href="/user/profile/">{{ user.name|slice:":11" }}</a>
				{% else %}
					<a href="/user/signin/">SignIn</a> | <a href="/user/signup/">SignUp</a>
				{% endif %}
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	{% include './site_top_nav.html' %}
</header>

<!-- Toast widget -->
<div class="toast" style="display: none;" >
</div>