<nav id="big-nav-div">
	<ul id="ui-main-nav">
		<li><a href="javascript:void(0)">[+] Catagories</a></li>
		<li><a href="/">Home</a></li>
		<li><a href="/offer/">Offers</a></li>
		<li><a href="/offer/create-new/">Post Offer</a></li>
		<li><a href="/aboutus/">About us</a></li>
		<li><a href="/contacts/">Contacts</a></li>
	</ul>
	<div style="clear:both;"></div>
	<div id="big-sub-nav-div">
		<!-- hidden menu -->
		<div style="margin: 5px 2%;">
			<div class="ui-sub-nav">
				<h3 class="ui-sub-nav-title" >Electronics</h3>
				<ul class="ui-sub-nav-list" >
					<li><a href="javascript:void(0)">Mobiles</a></li>
					<li><a href="javascript:void(0)">Computers</a></li>
					<li><a href="javascript:void(0)">TV &amp; Refrigators</a></li>
					<li><a href="javascript:void(0)">Accessories</a></li>
					<li><a href="javascript:void(0)">Others</a></li>
				</ul>
			</div>
			<div class="ui-sub-nav">
				<h3 class="ui-sub-nav-title" >Food</h3>
				<ul class="ui-sub-nav-list" >
					<li><a href="javascript:void(0)">Home Delivery</a></li>
					<li><a href="javascript:void(0)">Dine Out</a></li>
					<li><a href="javascript:void(0)">Party Offers</a></li>
					<li><a href="javascript:void(0)">Others</a></li>
				</ul>
			</div>
			<div class="ui-sub-nav">
				<h3 class="ui-sub-nav-title" >Clothing</h3>
				<ul class="ui-sub-nav-list" >
					<li><a href="javascript:void(0)">Men</a></li>
					<li><a href="javascript:void(0)">Women</a></li>
					<li><a href="javascript:void(0)">Shoes</a></li>
					<li><a href="javascript:void(0)">Others</a></li>
				</ul>
			</div>
			<div class="ui-sub-nav">
				<h3 class="ui-sub-nav-title" >Sports</h3>
				<ul class="ui-sub-nav-list" >
					<li><a href="javascript:void(0)">Shoes</a></li>
					<li><a href="javascript:void(0)">Sports Kits</a></li>
					<li><a href="javascript:void(0)">Sports Items</a></li>
					<li><a href="javascript:void(0)">Others</a></li>
				</ul>
			</div>
			<div class="ui-sub-nav">
				<h3 class="ui-sub-nav-title" >Others</h3>
				<ul class="ui-sub-nav-list" >
					<li><a href="javascript:void(0)">Empty</a></li>
					<li><a href="javascript:void(0)">Empty</a></li>
					<li><a href="javascript:void(0)">Empty</a></li>
					<li><a href="javascript:void(0)">Empty</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
