{% extends './base.html' %}
{% load staticfiles %}


{% block pagemenu %}
{% include './home_left_nav.html' %}
{% endblock %}

{% block content %}
<style type="text/css" >
.ui-body > div { display: inline-block; vertical-align: top; }
#contact-left { width: 50%; }
#contact-right { margin-left: 5px; }
textarea { border: 1px solid #ccc; width: 20em; height: 10em; resize: none; }
</style>

<div class="ui-page" >
	<div class="ui-bar-tbb" style="text-align: center;" >
		<h3>GET IN TOUCH <strong>WITH US</strong></h3>
	</div>

	<div class="ui-body">
		<div id="contact-left" >
			<form action="/ajax/contacts/" method="POST" >
				{% csrf_token %}
				<table class="form-table">
					<tr><td>Name : </td><td><input type="text" name="user" class="ui-input" /></td>
					</tr>
					<tr><td>Email : </td><td><input type="text" name="email" class="ui-input" /></td>
					</tr>
					<tr><td>Phone : </td><td><input type="text" name="phone" class="ui-input" /></td>
					</tr>
					<tr><td>Message : </td><td><textarea></textarea></td>
					</tr>
					<tr><td></td>
					<td><input type="submit" name="send" value="Send" class="ui-btn btn-long" /></td>
					</tr>
				</table>
			</form>
		</div>
		<div id="contact-right">
			<div style="margin: 3px 0px;">
				GOT A QUESTION? <strong>TALK WITH US DIRECT.</strong>
			</div>
			<div>
				<p style="font-size:30px;" >
					<strong>Call.</strong> <a href="callto:0123456789" > 0123 456 789</a>
				</p>
				<p><strong>Email.</strong><a href="mailto:hello@myoffers.com">hello@myoffers.com</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}