<div class="ui-content" >
<ul class="app_vlist">
    <li class="app_vlist_exp_item expanded"><a href="javascript:void(0)"> Quick Links </a>
		<ul class="app_vlist">
            <li><a href="/offer/" >All Offers</a></li>
            <li><a href="/offer/new/" >New Products</a></li>
			<li><a href="/offer/online/" >Online Stores</a></li>
			<li><a href="/offer/nearby/" >Nearby Stores</a></li>
			<li><a href="/offer/bulk/" >Bulk Deals</a></li>
			<li><a href="/offer/food/" >Food deals</a></li>
        </ul>
    </li>
    <li class="app_vlist_exp_item expanded"><a href="javascript:void(0)"> Account </a>
        <ul class="app_vlist">
            <li><a href="/user/account/" data-dest="#app_page:1" >My Account</a></li>
            <li><a href="/business/" data-dest="#app_page:1" >Business</a></li>
            <li><a href="/locus/" data-dest="#app_page:1" >Address</a></li>
			<li><a href="/user/wishlist/" data-dest="#app_page:1" >Wishlist</a></li>
			<li><a href="/user/mails/" data-dest="#app_page:1" >Messages</a></li>
			<li><a href="/user/settings/" data-dest="#app_page:1" >Settings</a></li>
    		<li><a href="/user/stats/" data-dest="#app_page:1" >History</a></li>
            <li><a href="/user/signout/" >SignOut</a></li>
        </ul>
    </li>
</ul>
</div>
