{% extends './base.html' %}

{% block content %}

 <div class="content" >
		<div class="content_title">
			<h3>Create Offer : </h3>
		</div>	
		<div class="content_body" >
			<form action="/offer/create/submit/" method="POST">
				{% csrf_token %}
				<table class="form_table">
					<tr><td>Product Name : </td><td><input type="text" name="product_name" value="{{form_values.product_name}}" class="inputBox" />
					<td><p class="errors">{{form_errors.product_name}}</p></td>
					</td></tr>
					<tr><td>Dicount (%) : </td><td><input type="text" name="discount" value="{{form_values.discount}}" class="inputBox" />
					<td><p class="errors">{{form_errors.discount}}</p></td>
					</td></tr>
					<tr><td>Start Date : </td><td><input type="text" name="start_date" value="{{form_values.start_date}}" class="inputBox" />
					<td><p class="errors">{{form_errors.start_date}}</p></td>
					</td></tr>
					<tr><td>Expire Date : </td><td><input type="text" name="expire_date" value="{{form_values.expire_date}}" class="inputBox" />
					<td><p class="errors">{{form_errors.expire_date}}</p></td>
					</td></tr>
					<tr><td>Location : </td><td><input type="discount" name="location" value="{{form_values.location}}" class="inputBox" />
					<td><p class="errors">{{form_errors.location}}</p></td>
					</td></tr>

					<tr><td></td>
					<td><input type="submit" name="submit" value="Submit" class="buttons" />
					<input type="reset" name="clear" value="Clear" class="buttons" />
					</td></tr>
				</table>
			</form>
		</div>
	</div>


{% endblock %}