{% extends './base.html' %}

{% block pagemenu %}
{% include './home_left_nav.html' %}
{% endblock %}

{% block content %}
<div class="ui-page" >
	<div class="ui-bar-tbb">
		<h3>Sign Up</h3>
	</div>
	<div class="ui-body" >
		{% if form.errors %}
			<p style="color:red;" >Please fill the details!!</p>
		{% endif %}
		<form action="/user/signup-register/" method="POST" class="ajax-form">
			{% csrf_token %}
			<table class="form-table" >	
				<tr><td>Full Name* : </td><td><input type="text" name="name" class="ui-input" placeholder="Full Name" />
				</tr>
				<tr><td>Email* : </td><td><input type="text" name="email" class="ui-input" placeholder="Email Id" /></td>
				</tr>

				<tr><td>Password* : </td><td><input type="password" name="pass" class="ui-input" placeholder="Password" />
				</td></tr>
				<tr><td>Phone* : </td><td><input type="text" name="phone" class="ui-input" placeholder="Phone Number" />
				</tr>
				<tr><td></td>
				<td>
				<input type="submit" name="signup" value="Sign Up" class="submit ui-btn ui-btn-small" />
				</td></tr>
			</table>
		</form>
	</div>
</div>
{% endblock %}