{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
{% for offer in offers_list  %}
<style type="text/css">
	.offer_box { width:200px; height:200px; padding:5px; border:1px solid #666; float:left; margin:5px 0px 0px 5px;}
	.offer_image { width: 90%; height: 150px; }
	.offer_desc { width:90%; height: 20px; }
	.offer_details { width: 90%; height: 20px; display: none; }
</style>

<div class="offer_box" >
	<div class="offer_image">
	{% with 'res/images/offers/'|add:offer.image_name as image_path %}
		<img src="{% static image_path %}" width="180"
								height="150" />
	{% endwith %}
	</div>
	<div class="offer_desc">
		{{offer.product_name}} <br />
		{{offer.discount}}% Off <br />
	</div>
	<div class="offer_details">
		Starting On : {{offer.start_date}} <br />
		Last Date : {{offer.expire_date}} <br />
		Hurry up 7 Days to go<br />
	</div>
</div>

{% endfor %}

{% endblock %}