<div class="ui-content" >
	<ul class="ui-hlist" >
		<li><a href="/user/account/" data-dest="#app_page_body:2" >Account</a></li>
		<li><a href="/user/mails/" data-dest="#app_page_body:2" >Mails</a></li>
		<li><a href="/user/wishlist/" data-dest="#app_page_body:2" >Wishlist</a></li>
		<li><a href="/user/settings/" data-dest="#app_page_body:2" >Settings</a></li>
		<li><a href="/user/stats/" data-dest="#app_page_body:2" >History</a></li>
		{% if user.level == 9 %}
		<li><a href="/myadmin/" >Admin</a></li>
		{% endif %}
		<li><a href="/user/signout/" >SignOut</a></li>
	</ul>
</div>
