{% load staticfiles %}
<!-- Toast -->
<div class="wt-toast" style="display: none;" >
</div>

<!-- Noti Box -->
<div class="wt-notibox" >
</div>
<div id="wt-noti" class="wt-noti ui-hide" >
    <a class="wt-notilink" style="display: table;" >
    <div style="display: table-cell; width: 15%; padding: 1em; ">
        <img src={% static "images/svg/checkcircle_24_1.svg" %} style="ui-fit"/>
    </div>
    <div style="display: table-cell; width: 85%; vertical-align: middle;" >
        <div class="wt-notititle" style="font-weight: bold;" >
        </div>
        <div style="border-top: 1px solid #bbb; padding: 0.2em; "></div>
        <div class="wt-notibody">
        </div>
    </div>
    </a>
</div>

<!-- Overlay -->
<div id="wt-overlay" class="wt-overlay" tabindex="1">
    <div class="wt-overlay-control" >
        <a href="javascript:void(0)" class="wt-closebtn">&times;</a>
    </div>
    <div class="wt-overlay-content">
        <!-- Overlay content -->
    </div>
</div>
