<nav>
<div class="ui-content" >
	<ul class="ui-hlist" id="app_main_nav" >
		<li><a href="javascript:void(0)">[+] Catagories</a></li>
		<li><a href="/">Home</a></li>
		<li><a href="/offer/">Offers</a></li>
		<li><a href="/offer/create-new/">Post Offer</a></li>
		<li><a href="/public/aboutus/">About us</a></li>
		<li><a href="/public/contacts/">Contacts</a></li>
	</ul>
	<div id="app_sub_nav_content">
		<div class="app_sub_nav">
			<h3 >Electronics</h3>
			<ul class="ui-vlist" >
				<li><a href="javascript:void(0)">Mobiles</a></li>
				<li><a href="javascript:void(0)">Computers</a></li>
				<li><a href="javascript:void(0)">TV &amp; Refrigators</a></li>
				<li><a href="javascript:void(0)">Accessories</a></li>
				<li><a href="javascript:void(0)">Others</a></li>
			</ul>
		</div>
		<div class="app_sub_nav">
			<h3 >Food</h3>
			<ul class="ui-vlist" >
				<li><a href="javascript:void(0)">Home Delivery</a></li>
				<li><a href="javascript:void(0)">Dine Out</a></li>
				<li><a href="javascript:void(0)">Party Offers</a></li>
				<li><a href="javascript:void(0)">Others</a></li>
			</ul>
		</div>
		<div class="app_sub_nav">
			<h3 >Clothing</h3>
			<ul class="ui-vlist" >
				<li><a href="javascript:void(0)">Men</a></li>
				<li><a href="javascript:void(0)">Women</a></li>
				<li><a href="javascript:void(0)">Shoes</a></li>
				<li><a href="javascript:void(0)">Others</a></li>
			</ul>
		</div>
		<div class="app_sub_nav">
			<h3 >Sports</h3>
			<ul class="ui-vlist" >
				<li><a href="javascript:void(0)">Shoes</a></li>
				<li><a href="javascript:void(0)">Sports Kits</a></li>
				<li><a href="javascript:void(0)">Sports Items</a></li>
				<li><a href="javascript:void(0)">Others</a></li>
			</ul>
		</div>
		<div class="app_sub_nav">
			<h3 >Others</h3>
			<ul class="ui-vlist" >
				<li><a href="javascript:void(0)">Empty sdkjsd</a></li>
				<li><a href="javascript:void(0)">Empty</a></li>
				<li><a href="javascript:void(0)">Empty</a></li>
				<li><a href="javascript:void(0)">Empty</a></li>
			</ul>
		</div>
	</div>
</div>
</nav>
