{% extends base_template %}

{% load staticfiles %}
{% load includesettings %}

{% block style %}
<style type="text/css" >
.abtus_box_title > div { display: inline-block; vertical-align: middle; }
.abtus_box_title_image img { width: 24px; height: 24px; }
.abtus_box .abtus_box_title_text { line-height: 24px; }
</style>
{% endblock %}


{% block pagecontent %}
<div class="ui-content" >
	<div class="ui-bar-tbb">
		<h2>ABOUT US &amp; {% includesettings 'SITE_NAME' %}</h2>
	</div>
	<div class="ui-content" >
		<div class="ui-body" >
			<p>{% includesettings 'SITE_NAME' %} is about connecting Customers with Vendors directly.
				This website provide interface for Consumers to search, browse Offers based on Location.
				You can find different sales, discounts, coupons alerts on {% includesettings 'SITE_NAME' %}.
				We keep in touch with various dealers and vendors in market to give you best deals available.
			<p>
		</div>
	</div>
	<div class="ui-body" >
		<div class="ui-content">
			<div class="ui-bar-tbb abtus_box_title" >
				<div class="abtus_box_title_image" >
					<img src="{% static 'images/svg/people_24_1.svg' %}" />
				</div>
				<div class="abtus_box_title_text" >
					<h2> WHO ARE WE ? </h2>
				</div>
			</div>
			<div class="ui-body">
				<p>
				 We are a team of web developers who are driven by passion and urge to create something that our customers love.
				</p>
			</div>
		</div>
		<div class="ui-content">
			<div class="ui-bar-tbb abtus_box_title" >
				<div class="abtus_box_title_image" >
					<img src="{% static 'images/svg/tool_24_1.svg' %}" />
				</div>
				<div class="abtus_box_title_text" >
					<h2> WHAT WE DO ? </h2>
				</div>
			</div>
			<div class="ui-body">
				<p>
				We build user friendly powerful and easy to use interfaces. Which helps a million of users to get what they want.
				</p>
			</div>
		</div>
		<div class="ui-content">
			<div class="ui-bar-tbb abtus_box_title" >
				<div class="abtus_box_title_image" >
					<img src="{% static 'images/svg/clock_24_1.svg' %}" />
				</div>
				<div class="abtus_box_title_text" >
					<h2> SINCE WHEN ? </h2>
				</div>
			</div>
			<div class="ui-body">
				<p>
				We are in the market since Jan 2014, and continusely improving the interfaces which helps the customers.
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
