{% extends base_template %}

{% block appmenu %}
{% include './home_left_nav.html' %}
{% endblock %}

{% block pagecontent %}
<style type="text/css">
	.post_div { margin-top: 0.5em; padding: 0.2em; border: 1px solid #ddd; background: #fff; }
	.user_info_div { font-size: 0.8em; }
	.user_reaction_div { padding: 0.5em 0.5em 0.5em 0.5em; }
	.user_reaction { width: 30%; }
	.user_reaction_div a { text-decoration: none; font-size: 0.9em; color: #666; padding: 0.5em 0.5em 0.5em 0em; }
	.user_reaction_div a:hover { text-decoration: underline; font-weight: bold; }
	.user_comment { border: 1px solid #CCC; margin-top: 0.2em; padding: 0.2em; }
</style>
<div class="ui-content">
	{% for article in articles %}
	<div class="post_div" >
		<strong>{{article.title}}</strong>
		<div class="user_info_div" >
			{{article.author.name | capfirst }}
			[{{article.author.email}}]
		</div>
		<div class="h-bar-solid" ></div>
		<p>{{article.text}}</p>
		<div class="h-bar-solid"></div>
		<div class="user_reaction_div" article-id="{{article.pk}}" >
			<span class="user_likes" {% if article.reaction == 1 %} dais-active="true" {% else %} dais-active="false" {% endif %} >
				{% spaceless %}
					{% if article.likes > 0 %}
						{% if article.reaction == 1 %}
							<a href="#" class="user_reaction" article-likes="{{article.likes}}">liked</a><b>[{{article.likes}}]</b>
						{% else %}
							<a href="#" class="user_reaction" article-likes="{{article.likes}}">like</a><b>[{{article.likes}}]</b>
						{% endif %}
					{% else %}
						<a href="#" class="user_reaction" article-likes="{{article.likes}}">like</a><b></b>
					{% endif %}
				{% endspaceless %}
			</span> | 
			<span class="user_dislikes" {% if article.reaction == -1 %} dais-active="true" {% else %} dais-active="false" {% endif %} >
				{% spaceless %}
					{% if article.dislikes > 0 %}
						{% if article.reaction == -1 %}
							<a href="#" class="user_reaction" article-dislikes="{{article.dislikes}}">disliked</a><b>[{{article.dislikes}}]</b>
						{% else %}
							<a href="#" class="user_reaction" article-dislikes="{{article.dislikes}}">dislike</a><b>[{{article.dislikes}}]</b>
						{% endif %}
					{% else %}
						<a href="#" class="user_reaction" article-dislikes="{{article.dislikes}}">dislike</a><b></b>
					{% endif %}
				{% endspaceless %}
			</span> | 
			<a href="/post/load-post-comments/" class="user_comment-link" >comment</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
