{% extends base_template %}
{% load staticfiles %}


{% block pagecontent %}
<div class="ui-content" >
	<div class="ui-block" >
		<div class="ui-block-bar">
			<div>
				<h3>GET IN TOUCH <strong>WITH US</strong></h3>
			</div>
			<div>
			</div>
		</div>
		<div class="ui-block-body">
			<style type="text/css" >
				#contact_left { min-width: 50%; display: inline-block; vertical-align: top; }
				#contact_right { margin-left: 5px; display: inline-block; vertical-align: top; }
				.form_table { width: 100%; }
				.form_table tr td:first-child { text-align: right; }
			</style>
			<div id="contact_left" >
				<div class="ui-errors"></div>
				<form action="/public/contacts/" method="POST" class="ajax-form" data-delegates='{"before":"OnMessageSendReq__", "after": "OnMessageSendRes__"}' >
					{% csrf_token %}
					<table class="form_table">
						<tr><td>NAME* </td><td><input type="text" name="name" {% if user.is_loggedin %} value="{{user.name}}" {% endif %} class="ui-input" placeholder="Name" /></td>
						</tr>
						<tr><td>CONTACT* </td><td><input type="text" name="email" {% if user.is_loggedin %} value="{{user.email}}" {% endif %} class="ui-input" placeholder="Email or Phone" /></td>
						</tr>
						<tr><td>ABOUT* </td><td><input type="text" name="title" class="ui-input" placeholder="About" /></td>
						</tr>
						<tr><td style="vertical-align:top;">DETAILS* </td><td><textarea class="ui-input" name="text" placeholder="Tell us about your thoughts" ></textarea></td>
						</tr>
						<tr><td></td>
						<td><input type="submit" name="send" value="Send" class="ui-btn ui-btn-input" /></td>
						</tr>
					</table>
				</form>
			</div>
			<div id="contact_right">
				<div style="margin: 3px 0px;">
					GOT A QUESTION? <strong>TALK WITH US DIRECT.</strong>
				</div>
				<div>
					<p style="font-size:2em;" >
						<strong>CALL </strong> <a href="callto:0123456789" > 0123 456 789</a>
					</p>
					<p>
						<strong>EMAIL </strong><a href="mailto:hello@myoffers.com">hello@myoffers.com</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
function OnMessageSendReq__(e) {
	console.log("+OnMessageSendReq__");
	return true;
}
function OnMessageSendRes__(e) {
	console.log("+OnMessageSendRes__");
	if (e.status)
		$AppToast.show("Message sent!!");
	else
		$AppToast.show(e.resp.message);
	return true;
}
</script>
{% endblock %}
