{% extends base_template %}
{% load staticfiles %}


{% block pagecontent %}
<div class="ui-content" >
	<div class="ui-bar-tbb" >
		<h3>GET IN TOUCH <strong>WITH US</strong></h3>
	</div>

	<div class="ui-body">
		<style type="text/css" >
			.ui-body > div { display: inline-block; vertical-align: top; }
			#contact-left { min-width: 40%; }
			#contact-right { margin-left: 5px; }
			.form-table tr td:first-child { width: 20%; }
		</style>
		<div id="contact-left" >
			<div class="ui-errors"></div>
			<form action="/public/contacts/" method="POST" class="contact-form ajax-form" >
				{% csrf_token %}
				<table class="form-table">
					<tr><td>NAME* </td><td><input type="text" name="name" class="ui-input" placeholder="Name" /></td>
					</tr>
					<tr><td>CONTACT* </td><td><input type="text" name="email" class="ui-input" placeholder="Email or Phone" /></td>
					</tr>
					<tr><td>ABOUT* </td><td><input type="text" name="title" class="ui-input" placeholder="About" /></td>
					</tr>
					<tr><td>DETAILS* </td><td><textarea class="ui-textarea" name="text" placeholder="Tell us about your thoughts" ></textarea></td>
					</tr>
					<tr><td></td>
					<td><input type="submit" name="send" value="Send" class="ui-btn ui-btn-long" /></td>
					</tr>
				</table>
			</form>
		</div>
		<div id="contact-right">
			<div style="margin: 3px 0px;">
				GOT A QUESTION? <strong>TALK WITH US DIRECT.</strong>
			</div>
			<div>
				<p style="font-size:2em;" >
					<strong>CALL </strong> <a href="callto:0123456789" > 0123 456 789</a>
				</p>
				<p>
					<strong>EMAIL </strong><a href="mailto:hello@myoffers.com">hello@myoffers.com</a>
				</p>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function() {
	$('.contact-form').data('handlers', {before: beforeMessage, after: afterMessage});
});

function beforeMessage(e) {
	console.log("+beforeMessage");
	return true;
}
function afterMessage(e) {
	console.log("+afterMessage");
	if (e.status)
	Toast.show("Message sent!!");
	return true;
}
</script>
{% endblock %}
