* { margin:0; padding:0; border:0; outline:0; font-size: 100%; font: inherit; vertical-align: baseline; box-sizing: border-box; }
a { text-decoration: none; cursor: pointer; color: #333; }
a:hover { text-decoration: underline; }
/*img { user-select: none; pointer-events: none; }*/
ul { list-style: none; }
table { min-width: 50%; border-spacing: 1.5em 1.5em; border-collapse: collapse; }
table th, table td { padding: 0.7em; text-align: left; }
input { background: transparent; }
body { background: #eee; color: #333; font-size: 0.8em;
font-family: 'Roboto','Heebo',Arial,sans-serif;
/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
/*font-family: "Avenir Next",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;*/
overflow: auto; height: 100%
}
.ui-icon24 { width:24px; height:24px; }
.ui-clear { clear: both; text-indent: -9999px; }
.ui-link { text-decoration: underline; }
.ui-fit { max-width: 100%; max-height: 100%; min-width: 100%; min-height: 100%; }
.ui-half { width: 50%; height: auto; }
.ui-full { width: 100%; height: auto; }
.ui-hide { display:none /*!important*/; }
.ui-show { display:block /*!important*/; }
.ui-visible { visibility: visible /*!important*/; }
.ui-invisible { visibility: hidden /*!important*/; }
.ui-border { border: 1px solid #ddd; }
.ui-corner { border-radius: 0.2em; }
.ui-dselect { user-select: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; }
.ui-select { user-select: text; -webkit-user-select: text; -khtml-user-select: text; -moz-user-select: text; -o-user-select: text; }
.ui-errors { color:red; font-weight: bold; }
.ui-noscroll { overflow: hidden /*!important*/; }

.ui-left { display: flex; justify-content: flex-start; }
.ui-right { display: flex; justify-content: flex-end; }
.ui-grid { display: flex; flex-wrap: wrap; }

.ui-vlist { display: block; }
.ui-vlist > li { width: 100%; display: block; }
.ui-vlist > li > a { display:block; padding:0.7em 2.5em 0.7em 1.0em; text-decoration:none; }
.ui-vlist > li > a:hover { background: #fff; }
.ui-hlist { display: block; }
.ui-hlist > li { display: inline-block; }
.ui-hlist > li > a { display: block; padding: 0.5em 1.0em; color: #444; text-align: center; }
.ui-hlist > li > a:hover { background: #f3f3f3; }
.ui-hlist-resp { width: 100%; display: table; border-collapse: collapse; text-align: center; }
.ui-hlist-resp > li { display: table-cell; }
.ui-hlist-resp > li > a { display:block; padding: 0.6em 0em; }
.ui-hlist-resp > li > a:hover { background: #f3f3f3; }
.ui-form-table { width: 99%; }
.ui-form-table tr td:first-child { text-align: right; }
.ui-info-table { width:99%; }
/*.ui-info-table th { border-bottom: 1px solid #ddd; background: #e9e9e9; }*/
/*.ui-info-table tr { border-bottom: 1px solid #ddd; }*/

.ui-input { background: #fff; width: 95%; max-width: 30em; height: 3.3em; border: 1px solid #ddd; padding: 0.5em 1.0em; border-radius: 0.3em; }
.ui-input:focus { border: 1px solid #aaa; }
.ui-input[readonly] { border:none; background:transparent; padding-left: 0; /*color: transparent; text-shadow: 0 0 0 #333;*/ /*width: 30em; height: 3.3em;*/ }
.ui-input[readonly]:hover { border:none; }
select.ui-input[readonly] { pointer-events: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
textarea.ui-input { width:95%; max-width: 30em; height: 6em; border: 1px solid #ddd; padding: 0.5em 1.0em; border-radius: 0.3em; }
.ui-input[type=checkbox] { width: 24px; height: 24px; }
.ui-input:focus::-webkit-input-placeholder { color:transparent; }
.ui-input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.ui-input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.ui-input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.ui-btn { padding: 0.6em 1em; background: #f9f9f9; border: 1px solid #35f; border-radius: 0.2em; cursor: pointer; }
.ui-btn:hover { background: #37f; color: #fff; }
.ui-btn-a { display: inline-block; padding: 1em; background: #f9f9f9; border: 1px solid #ccc; border-radius: 0.2em; cursor: pointer;  }
.ui-btn-a:hover { background: #f3f3f3; text-decoration: none; }
.ui-btn-a:active { background: #e9e9e9; text-decoration: none; }
.ui-btn-input { width:95%; max-width: 30em; }
.ui-btn-small { width:35%; max-width: 30em; }
.ui-btn-half { width:55%; max-width: 30em; }
.ui-btn-full { width:100%; }

.ui-dropdown { position: relative; display: inline-block; }
.ui-dropbtn { display: block; padding: 0.5em; font-size: 0.8em; cursor: pointer; }
.ui-dropcontent { position: absolute; background: #f9f9f9; min-width: 100%; right:0; z-index: 98; overflow: auto; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);	}

.ui-hovermenu { position: relative; display: inline-block; }
.ui-hoverbtn { display: block; padding: 0.5em; font-size: 0.8em; cursor: pointer; }
.ui-hovercontent { display: none; position: absolute; background: #f9f9f9; min-width: 100%; right:0; z-index: 98; overflow: auto; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);	}
.ui-hovermenu:hover .ui-hovercontent { display: block; }

.ui-block { background: #fff; border: 1px solid #ddd; }
.ui-block-head { width: 100%; display: table; padding: 0.8em 1em; border-bottom: 1px solid #ddd; }
.ui-block-head > div { width:100%; display: table-cell; vertical-align: middle; }
.ui-block-body { padding: 1em; }

.ui-dline { border-bottom: 1px dotted #ccc; height: 1px; }
.ui-sline { border-bottom: 1px solid #ccc; height: 1px; margin: 0.2em auto;}
.ui-bar { width: 100%; border: 1px solid #bbb; padding: 0.6em 0.8em; background: #f1f1f1; }
.ui-bar-tbb { width: 100%; margin-bottom: 0.5em; border-bottom:1px solid #ddd; padding:0.6em 0.4em; /*text-transform:uppercase;*/}
.ui-body { width: 100%; border: 1px solid #ddd; padding: 0.6em 0.8em; background: #fff; }
.ui-content { width: 100%; padding: 0.2em; /*border: 1px solid #d3d3d3;*/ }

.ui-shadow { box-shadow: 0px 2px 2px rgba(0,0,0,0.12); }
.ui-shadow:before { content: ""; transform: rotate(0deg); }
.ui-shadow:after { transform: rotate(-2deg); }

.wt-fab { width:50px; height:50px; border-radius:100%; background: #38C;
	font-size:1.0em; transition:.3s;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.wt-fab:focus {	transform:scale(1.1);
	transform:rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.wt-notibox {
	position: fixed; min-width: 30%; max-width: 30%; min-height: 15%; max-height: 15%;
	right: 3%; top: 15%; z-index: 100; pointer-events: none; overflow: visible;
	/*border: 1px solid #bbb;*/
}
.wt-noti { width: 100%; margin-top: 1em; pointer-events: visible;
	background: #fff; border: 1px solid #bbb;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
	transition: 0.5s;
}

/* toast */
.wt-toast { position: fixed; display: none; min-width: 30%; max-width: 80%; z-index: 100;
	height: auto; left:50%; margin-left:-20%; bottom:10%; background: #e9e9e9; color: #222;
	font-family: Calibri; font-size: 1.0em; padding:0.9em; text-align:center; border-radius: 2px;
	box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

/* overlay */
.wt-overlay { display: none; position: fixed; top: 0; left: 0; bottom: 0; right: 0;
	z-index: 99;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.7);
}

.wt-overlay-content { width: 100%; height: 100%; }
.wt-overlay-head { width: 100%; height: 8%; display: flex; justify-content: flex-end; }
.wt-overlay-head .wt-closebtn { z-index: 99; color:#bbb; text-decoration: none; position: absolute; top: 0em; right: 0.5em; font-size: 4em; cursor: pointer; }
.wt-overlay-head .wt-closebtn:hover, .wt-overlay .wt-closebtn:focus { color:#fff; }
.wt-overlay-body { width: 100%; height: 90%; }
.wt-overlay-body .wt-overlay-scroll { overflow-y: auto; }

/* modal */
.wt-modal { display: none; position: fixed; z-index: 99; padding-top: 15%; left: 0; top: 0;
	width: 100%; height: 100%; overflow: auto;
	background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);
}
.wt-modal-content {
	position: relative; background-color: #fefefe; margin: auto; border: 1px solid #888; width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	transition: .4s;
}

/* dialog */
.wt-dialog { display: none; position: fixed; top: 0; left: 0; bottom: 0; right: 0;
	z-index: 99;
	background: #f3f3f3;
	/* background-color: rgb(240, 240, 240); */
	/* background-color: rgba(250, 250, 250, 0.9); */
	/* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); */
}
.wt-dialog .wt-closebtn { z-index: 99; color:#888; text-decoration: none; font-size: 4em; padding: 0em 0.3em; cursor: pointer; }
.wt-dialog .wt-closebtn:hover, .wt-dialog .wt-closebtn:focus { color:#555; }
.wt-dialog-content {
	position: relative; width: 40%; height: 100%; margin: auto; background-color: #fff;
	border: 1px solid #eee;
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
}
.wt-dialog-body {
	position: relative; width: 100%; height: 100%; margin: auto; background-color: #fff;
}

/* popup */
.wt-popup { position: fixed;  min-width: 40%; min-height: 40%;
	background: #fff; border: 1px solid #bbb;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
}
.wt-popup-content {
	position: relative; background-color: #fefefe; margin: auto; border: 1px solid #888; width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	transition: .4s;
}

/* suggestion list */
.wt-search-list { position: absolute; list-style: none; z-index: 99; display: none; background: #fff;  margin-top: 3px; border: 1px solid #aaa; }
.wt-search-list li { cursor: pointer; }
.wt-search-item { padding: 0.5em 1.0em; border-bottom: 1px solid #ddd;  cursor: pointer; }
.wt-search-item-a { background: #38f; color: #fff; }
.wt-search-item > div { display: inline-block; vertical-align:middle; margin-right: 0.4em; }
.wt-search-item img { width: 24px; height: 24px; }
.wt-search-list-app { max-height: 200px; overflow-y: auto;	overflow-x: hidden; }

/* progress bar */
.wt-progress-div { border: 1px solid #f9f9f9; }
.wt-progress-outer > div { display: inline-block; vertical-align: bottom; }
.wt-progress-inner { width: 73%; max-width: 73%; }
.wt-progress-filename { font-weight: bold; }
.wt-progress-bar { width: 0px; background: #39f; color: #fff; border: 1px solid #39f; }
.wt-progress-control { margin-left: 1%; min-width: 25%; }

/* switchtab */
.wt-switchtab { display: block; }
.wt-switchtab-nav > li > a { border: 1px solid #aaa; }
.wt-switchtab-nav > li > a.wt-switchtab-a { border-bottom: none; }
.wt-switchtab-item { display: none; }
.wt-switchtab-item-a { display: block; }
